[submodule "libs/gutenberg-mobile"]
	path = libs/gutenberg-mobile
	url = ../../wordpress-mobile/gutenberg-mobile.git
	shallow = true
[submodule "libs/portkey-android"]
	path = libs/portkey-android
	url = https://github.com/Automattic/portkey-android.git
