* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.ui.prefs -text
/AndroidManifest.xml -text
assets/webview.css -text
/default.properties -text
libs/CWAC-AdapterWrapper.jar -text
libs/CWAC-Bus.jar -text
libs/CWAC-Task.jar -text
libs/android-support-v4.jar -text
libs/httpmime-4.1.2.jar -text
libs/tagsoup-1.2.1.jar -text
/local.properties -text
/project.properties -text
res/anim/cycle_5.xml -text
res/anim/dashboard_hide.xml -text
res/anim/dashboard_show.xml -text
res/anim/disappear.xml -text
res/anim/rail.xml -text
res/anim/shake.xml -text
res/anim/show.xml -text
res/drawable-hdpi-v11/notification_icon.png -text
res/drawable-hdpi/add.png -text
res/drawable-hdpi/app_icon.png -text
res/drawable-hdpi/btn_check_off_pressed.png -text
res/drawable-hdpi/btn_check_off_selected.png -text
res/drawable-hdpi/btn_check_on_pressed.png -text
res/drawable-hdpi/btn_check_on_selected.png -text
res/drawable-hdpi/btn_dropdown_normal.9.png -text
res/drawable-hdpi/btn_dropdown_pressed.9.png -text
res/drawable-hdpi/btn_dropdown_selected.9.png -text
res/drawable-hdpi/camera.png -text
res/drawable-hdpi/comment_badge.png -text
res/drawable-hdpi/comments_tab.png -text
res/drawable-hdpi/comments_tab_active.png -text
res/drawable-hdpi/dashboard_wp_logo.png -text
res/drawable-hdpi/gallery_selected_default.9.png -text
res/drawable-hdpi/grey_wp_button.9.png -text
res/drawable-hdpi/grey_wp_button_active.9.png -text
res/drawable-hdpi/grey_wp_button_down.9.png -text
res/drawable-hdpi/ic_menu_compose.png -text
res/drawable-hdpi/ic_menu_delete.png -text
res/drawable-hdpi/ic_menu_home.png -text
res/drawable-hdpi/ic_menu_refresh.png -text
res/drawable-hdpi/ic_menu_share.png -text
res/drawable-hdpi/ic_menu_view.png -text
res/drawable-hdpi/notification_icon.png -text
res/drawable-hdpi/pages_tab.png -text
res/drawable-hdpi/pages_tab_active.png -text
res/drawable-hdpi/posts_tab.png -text
res/drawable-hdpi/posts_tab_active.png -text
res/drawable-hdpi/posts_tab_icon.png -text
res/drawable-hdpi/right_shadow.9.png -text
res/drawable-hdpi/stats_tab.png -text
res/drawable-hdpi/stats_tab_active.png -text
res/drawable-hdpi/title_bar_shadow.9.png -text
res/drawable-hdpi/wp_check_off.png -text
res/drawable-hdpi/wp_check_on.png -text
res/drawable-hdpi/wp_logo_actionbar.png -text
res/drawable-hdpi/wp_small.9.png -text
res/drawable-hdpi/wp_small_down.9.png -text
res/drawable-hdpi/wp_small_over.9.png -text
res/drawable-hdpi/wp_small_toggle.9.png -text
res/drawable-hdpi/wp_statusbar_icon.png -text
res/drawable-large-mdpi/wp_logo_actionbar.png -text
res/drawable-ldpi-v11/notification_icon.png -text
res/drawable-ldpi/notification_icon.png -text
res/drawable-mdpi-v11/notification_icon.png -text
res/drawable-mdpi/notification_icon.png -text
res/drawable-v11/list_highlight_bg.xml -text
res/drawable-v12/dashboard_btn_bottom_left.xml -text
res/drawable-v12/dashboard_btn_bottom_right.xml -text
res/drawable-xhdpi-v11/notification_icon.png -text
res/drawable-xhdpi/notification_icon.png -text
res/drawable/action_bar_btn_selector.xml -text
res/drawable/action_bar_btn_selector_right.xml -text
res/drawable/action_bar_shadow.9.png -text
res/drawable/action_item_btn.xml -text
res/drawable/action_item_selected.9.png -text
res/drawable/add.png -text
res/drawable/add_small.png -text
res/drawable/app_icon.png -text
res/drawable/arrow_down.png -text
res/drawable/arrow_up.png -text
res/drawable/browser_reload.png -text
res/drawable/btn_check_off_pressed.png -text
res/drawable/btn_check_off_selected.png -text
res/drawable/btn_check_on_pressed.png -text
res/drawable/btn_check_on_selected.png -text
res/drawable/btn_dropdown_normal.9.png -text
res/drawable/btn_dropdown_pressed.9.png -text
res/drawable/btn_dropdown_selected.9.png -text
res/drawable/camera.png -text
res/drawable/comment_badge.png -text
res/drawable/comment_pending_bg_selector.xml -text
res/drawable/comment_pending_gradient.xml -text
res/drawable/comments_tab.png -text
res/drawable/comments_tab_active.png -text
res/drawable/comments_tab_icon.png -text
res/drawable/content_bg.xml -text
res/drawable/content_bg_header.xml -text
res/drawable/dashboard_bg.xml -text
res/drawable/dashboard_bg_landscape.xml -text
res/drawable/dashboard_btn.xml -text
res/drawable/dashboard_btn_bottom_center.xml -text
res/drawable/dashboard_btn_bottom_left.xml -text
res/drawable/dashboard_btn_bottom_right.xml -text
res/drawable/dashboard_btn_down.xml -text
res/drawable/dashboard_btn_down_shadow.9.png -text
res/drawable/dashboard_btn_top_left.xml -text
res/drawable/dashboard_btn_top_right.xml -text
res/drawable/dashboard_button_down.9.png -text
res/drawable/dashboard_icon_comments.png -text
res/drawable/dashboard_icon_new_page.png -text
res/drawable/dashboard_icon_new_post.png -text
res/drawable/dashboard_icon_pages.png -text
res/drawable/dashboard_icon_photo.png -text
res/drawable/dashboard_icon_posts.png -text
res/drawable/dashboard_icon_settings.png -text
res/drawable/dashboard_icon_stats.png -text
res/drawable/dashboard_icon_subs.png -text
res/drawable/dashboard_icon_video.png -text
res/drawable/dashboard_icon_wp.png -text
res/drawable/drafts_icon.png -text
res/drawable/drop_down_arrow.png -text
res/drawable/format_bar_bg.xml -text
res/drawable/format_bar_btn.xml -text
res/drawable/format_bar_btn_toggled.xml -text
res/drawable/gallery_selected_default.9.png -text
res/drawable/grey_wp_button.9.png -text
res/drawable/grey_wp_button_active.9.png -text
res/drawable/grey_wp_button_down.9.png -text
res/drawable/home_gradient.xml -text
res/drawable/home_small.png -text
res/drawable/ic_menu_compose.png -text
res/drawable/ic_menu_delete.png -text
res/drawable/ic_menu_home.png -text
res/drawable/ic_menu_refresh.png -text
res/drawable/ic_menu_share.png -text
res/drawable/ic_menu_view.png -text
res/drawable/ic_popup_sync_1.png -text
res/drawable/icon_titlebar_home.png -text
res/drawable/icon_titlebar_home_active.png -text
res/drawable/icon_titlebar_refresh.png -text
res/drawable/icon_titlebar_refresh_active.png -text
res/drawable/list_bg.xml -text
res/drawable/list_bg_selector.xml -text
res/drawable/list_divider.xml -text
res/drawable/list_header_bg.xml -text
res/drawable/list_highlight_bg.xml -text
res/drawable/media.png -text
res/drawable/menu_button_bg.9.png -text
res/drawable/menu_button_selector.xml -text
res/drawable/new_account_logo.png -text
res/drawable/pages_tab.png -text
res/drawable/pages_tab_active.png -text
res/drawable/pages_tab_icon.png -text
res/drawable/placeholder.png -text
res/drawable/popup.9.png -text
res/drawable/posts_tab.png -text
res/drawable/posts_tab_active.png -text
res/drawable/posts_tab_icon.png -text
res/drawable/quickcontact_arrow_down.png -text
res/drawable/quickcontact_arrow_up.png -text
res/drawable/quickcontact_bottom_frame.9.png -text
res/drawable/quickcontact_disambig_bottom_bg.9.png -text
res/drawable/quickcontact_disambig_divider.9.png -text
res/drawable/quickcontact_drop_shadow.9.png -text
res/drawable/quickcontact_photo_frame.9.png -text
res/drawable/quickcontact_slider_background.png -text
res/drawable/quickcontact_slider_btn.xml -text
res/drawable/quickcontact_slider_btn_normal.9.png -text
res/drawable/quickcontact_slider_btn_on.9.png -text
res/drawable/quickcontact_slider_btn_pressed.9.png -text
res/drawable/quickcontact_slider_btn_selected.9.png -text
res/drawable/quickcontact_slider_grip_left.png -text
res/drawable/quickcontact_slider_grip_right.png -text
res/drawable/quickcontact_top_frame.9.png -text
res/drawable/spinner_white_48.png -text
res/drawable/stats_tab.png -text
res/drawable/stats_tab_active.png -text
res/drawable/stats_tab_icon.png -text
res/drawable/tab_bg_selector.xml -text
res/drawable/tab_color_selector.xml -text
res/drawable/tab_unselected.xml -text
res/drawable/title_bar_gradient.xml -text
res/drawable/title_bar_item_bg.xml -text
res/drawable/title_bar_right_item_bg.xml -text
res/drawable/title_bar_shadow.9.png -text
res/drawable/title_bg.xml -text
res/drawable/title_text_bg.xml -text
res/drawable/video.png -text
res/drawable/view_post_navbar_bg.xml -text
res/drawable/wordpress_gallery_background.xml -text
res/drawable/wp_button.xml -text
res/drawable/wp_button_dashboard.xml -text
res/drawable/wp_button_dashboard_bottom_center.xml -text
res/drawable/wp_button_dashboard_bottom_left.xml -text
res/drawable/wp_button_dashboard_bottom_right.xml -text
res/drawable/wp_button_dashboard_top_left.xml -text
res/drawable/wp_button_dashboard_top_right.xml -text
res/drawable/wp_button_small.xml -text
res/drawable/wp_button_toggle.xml -text
res/drawable/wp_check_off.png -text
res/drawable/wp_check_on.png -text
res/drawable/wp_checkbox.xml -text
res/drawable/wp_logo.png -text
res/drawable/wp_logo_actionbar.png -text
res/drawable/wp_logo_home.png -text
res/drawable/wp_small.9.png -text
res/drawable/wp_small_down.9.png -text
res/drawable/wp_small_over.9.png -text
res/drawable/wp_small_toggle.9.png -text
res/drawable/wp_spinner_bg.xml -text
res/drawable/wp_spinner_title_bar_bg.xml -text
res/drawable/wp_statusbar_icon.png -text
res/drawable/wpcom.png -text
res/drawable/wplogo.png -text
res/layout-hdpi/new_account.xml -text
res/layout-land/action_bar.xml -text
res/layout-large-mdpi/add_account.xml -text
res/layout-large-mdpi/comments.xml -text
res/layout-large-mdpi/edit.xml -text
res/layout-large-mdpi/edit_comment.xml -text
res/layout-large-mdpi/new_account.xml -text
res/layout-large-mdpi/posts.xml -text
res/layout-large-port-mdpi/moderatecomments.xml -text
res/layout-small/new_account.xml -text
res/layout-sw720dp/add_account.xml -text
res/layout-sw720dp/comments.xml -text
res/layout-sw720dp/edit.xml -text
res/layout-sw720dp/new_account.xml -text
res/layout-sw720dp/posts.xml -text
res/layout-v4/row.xml -text
res/layout/about.xml -text
res/layout/action_bar.xml -text
res/layout/action_item.xml -text
res/layout/add_account.xml -text
res/layout/add_account_settings.xml -text
res/layout/add_category.xml -text
res/layout/add_quickpress_shortcut.xml -text
res/layout/alert_image_options.xml -text
res/layout/blogs_row.xml -text
res/layout/blogs_row_actionbar.xml -text
res/layout/categories_row.xml -text
res/layout/comment_tab_selector.xml -text
res/layout/comments.xml -text
res/layout/dashboard.xml -text
res/layout/dashboard_buttons_landscape.xml -text
res/layout/dashboard_buttons_portrait.xml -text
res/layout/edit.xml -text
res/layout/edit_comment.xml -text
res/layout/home.xml -text
res/layout/home_row.xml -text
res/layout/image_view.xml -text
res/layout/link.xml -text
res/layout/list_footer_btn.xml -text
res/layout/list_footer_progress.xml -text
res/layout/moderatecomments.xml -text
res/layout/new_account.xml -text
res/layout/pages_tab_selector.xml -text
res/layout/popup.xml -text
res/layout/posts.xml -text
res/layout/posts_tab_selector.xml -text
res/layout/reader.xml -text
res/layout/reader_wpcom.xml -text
res/layout/reader_wpcom_pager.xml -text
res/layout/reply.xml -text
res/layout/row.xml -text
res/layout/row_post_page.xml -text
res/layout/select_blogs_list.xml -text
res/layout/select_categories.xml -text
res/layout/settings.xml -text
res/layout/spinner_textview.xml -text
res/layout/stats_tab_selector.xml -text
res/layout/table_row.xml -text
res/layout/table_row_header.xml -text
res/layout/view_comment.xml -text
res/layout/view_stats.xml -text
res/layout/viewcomments.xml -text
res/layout/viewpost.xml -text
res/layout/viewposts.xml -text
res/values-bs/strings.xml -text
res/values-ca/strings.xml -text
res/values-cs/strings.xml -text
res/values-da/strings.xml -text
res/values-de/strings.xml -text
res/values-es/strings.xml -text
res/values-fi/strings.xml -text
res/values-fr/strings.xml -text
res/values-hdpi/dimens.xml -text
res/values-he/strings.xml -text
res/values-hr/strings.xml -text
res/values-hu/strings.xml -text
res/values-id/strings.xml -text
res/values-in/strings.xml -text
res/values-it/strings.xml -text
res/values-ja/strings.xml -text
res/values-ka/strings.xml -text
res/values-large-hdpi/dimens.xml -text
res/values-large-hdpi/styles.xml -text
res/values-large-mdpi/dimens.xml -text
res/values-large-mdpi/styles.xml -text
res/values-mk/strings.xml -text
res/values-nb/strings.xml -text
res/values-pl/strings.xml -text
res/values-pt/strings.xml -text
res/values-ru/strings.xml -text
res/values-sk/strings.xml -text
res/values-small/dimens.xml -text
res/values-sv/strings.xml -text
res/values-sw720dp/dimens.xml -text
res/values-sw720dp/styles.xml -text
res/values-ta/strings.xml -text
res/values-tr/strings.xml -text
res/values-xlarge-v11/styles.xml -text
res/values-zh/strings.xml -text
res/values/arrays.xml -text
res/values/dimens.xml -text
res/values/ids.xml -text
res/values/strings.xml -text
res/values/styles.xml -text
src/com/commonsware/cwac/cache/AsyncCache.java -text
src/com/commonsware/cwac/cache/CacheBase.java -text
src/com/commonsware/cwac/cache/SimpleWebImageCache.java -text
src/com/commonsware/cwac/cache/WebImageCache.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailActivity.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailAdapter.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailBus.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailMessage.java -text
src/org/wordpress/android/About.java -text
src/org/wordpress/android/AddAccount.java -text
src/org/wordpress/android/AddAcountSettings.java -text
src/org/wordpress/android/AddCategory.java -text
src/org/wordpress/android/AddQuickPressShortcut.java -text
src/org/wordpress/android/CommentBroadcastReceiver.java -text
src/org/wordpress/android/CommentService.java -text
src/org/wordpress/android/Comments.java -text
src/org/wordpress/android/Constants.java -text
src/org/wordpress/android/Dashboard.java -text
src/org/wordpress/android/EditComment.java -text
src/org/wordpress/android/EditPost.java -text
src/org/wordpress/android/Link.java -text
src/org/wordpress/android/NewAccount.java -text
src/org/wordpress/android/Posts.java -text
src/org/wordpress/android/Preferences.java -text
src/org/wordpress/android/Read.java -text
src/org/wordpress/android/ReplyToComment.java -text
src/org/wordpress/android/SelectCategories.java -text
src/org/wordpress/android/ServiceUpdateUIListener.java -text
src/org/wordpress/android/Settings.java -text
src/org/wordpress/android/Signup.java -text
src/org/wordpress/android/ViewCommentActivity.java -text
src/org/wordpress/android/ViewCommentFragment.java -text
src/org/wordpress/android/ViewComments.java -text
src/org/wordpress/android/ViewPostActivity.java -text
src/org/wordpress/android/ViewPostFragment.java -text
src/org/wordpress/android/ViewPosts.java -text
src/org/wordpress/android/ViewStats.java -text
src/org/wordpress/android/WPCOMReaderBase.java -text
src/org/wordpress/android/WPCOMReaderDetailPage.java -text
src/org/wordpress/android/WPCOMReaderImpl.java -text
src/org/wordpress/android/WPCOMReaderPager.java -text
src/org/wordpress/android/WPCOMReaderTopicsSelector.java -text
src/org/wordpress/android/WordPress.java -text
src/org/wordpress/android/WordPressDB.java -text
src/org/wordpress/android/models/Blog.java -text
src/org/wordpress/android/models/Comment.java -text
src/org/wordpress/android/models/MediaFile.java -text
src/org/wordpress/android/models/Post.java -text
src/org/wordpress/android/util/AlertUtil.java -text
src/org/wordpress/android/util/Base64.java -text
src/org/wordpress/android/util/BlackBerryUtils.java -text
src/org/wordpress/android/util/CommentBadgeTextView.java -text
src/org/wordpress/android/util/DashboardLayout.java -text
src/org/wordpress/android/util/DrawableManager.java -text
src/org/wordpress/android/util/Entities.java -text
src/org/wordpress/android/util/EscapeUtils.java -text
src/org/wordpress/android/util/FastXmlSerializer.java -text
src/org/wordpress/android/util/ImageHelper.java -text
src/org/wordpress/android/util/IntHashMap.java -text
src/org/wordpress/android/util/LocationHelper.java -text
src/org/wordpress/android/util/StringHelper.java -text
src/org/wordpress/android/util/TrustAllManager.java -text
src/org/wordpress/android/util/TrustAllSSLSocketFactory.java -text
src/org/wordpress/android/util/WPAlertDialogFragment.java -text
src/org/wordpress/android/util/WPEditText.java -text
src/org/wordpress/android/util/WPHtml.java -text
src/org/wordpress/android/util/WPImageSpan.java -text
src/org/wordpress/android/util/WPTitleBar.java -text
src/org/wordpress/android/util/WPUnderlineSpan.java -text
src/org/wordpress/android/util/WPViewPager.java -text
src/org/xmlrpc/android/ApiHelper.java -text
src/org/xmlrpc/android/Base64.java -text
src/org/xmlrpc/android/Base64Coder.java -text
src/org/xmlrpc/android/ConnectionClient.java -text
src/org/xmlrpc/android/CustomMultipartEntity.java -text
src/org/xmlrpc/android/XMLRPCClient.java -text
src/org/xmlrpc/android/XMLRPCException.java -text
src/org/xmlrpc/android/XMLRPCFault.java -text
src/org/xmlrpc/android/XMLRPCSerializer.java -text
