* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.ui.prefs -text
/AndroidManifest.xml -text
/CWAC-AdapterWrapper.jar -text
/CWAC-Bus.jar -text
/CWAC-Cache.jar -text
/CWAC-Task.jar -text
bin/WordPress.apk -text
bin/classes.dex -text
bin/com/roundhill/androidWP/R$attr.class -text
bin/com/roundhill/androidWP/R$drawable.class -text
bin/com/roundhill/androidWP/R$id.class -text
bin/com/roundhill/androidWP/R$layout.class -text
bin/com/roundhill/androidWP/R$string.class -text
bin/com/roundhill/androidWP/R$style.class -text
bin/com/roundhill/androidWP/R.class -text
bin/com/roundhill/androidWP/categoriesDB.class -text
bin/com/roundhill/androidWP/editPost$1$1.class -text
bin/com/roundhill/androidWP/editPost$1$2.class -text
bin/com/roundhill/androidWP/editPost$1$3.class -text
bin/com/roundhill/androidWP/editPost$1$4.class -text
bin/com/roundhill/androidWP/editPost$1$5.class -text
bin/com/roundhill/androidWP/editPost$1.class -text
bin/com/roundhill/androidWP/editPost$10$1.class -text
bin/com/roundhill/androidWP/editPost$10.class -text
bin/com/roundhill/androidWP/editPost$11$1.class -text
bin/com/roundhill/androidWP/editPost$11.class -text
bin/com/roundhill/androidWP/editPost$12.class -text
bin/com/roundhill/androidWP/editPost$13.class -text
bin/com/roundhill/androidWP/editPost$14.class -text
bin/com/roundhill/androidWP/editPost$15.class -text
bin/com/roundhill/androidWP/editPost$16.class -text
bin/com/roundhill/androidWP/editPost$2.class -text
bin/com/roundhill/androidWP/editPost$3.class -text
bin/com/roundhill/androidWP/editPost$4$1.class -text
bin/com/roundhill/androidWP/editPost$4.class -text
bin/com/roundhill/androidWP/editPost$5$1.class -text
bin/com/roundhill/androidWP/editPost$5.class -text
bin/com/roundhill/androidWP/editPost$6.class -text
bin/com/roundhill/androidWP/editPost$7.class -text
bin/com/roundhill/androidWP/editPost$8$1.class -text
bin/com/roundhill/androidWP/editPost$8.class -text
bin/com/roundhill/androidWP/editPost$9$1.class -text
bin/com/roundhill/androidWP/editPost$9.class -text
bin/com/roundhill/androidWP/editPost$ImageAdapter.class -text
bin/com/roundhill/androidWP/editPost$ImageFilter.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethod$3$1.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethodImages$1.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethodImages$2.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethodImages$3$1.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethodImages$3.class -text
bin/com/roundhill/androidWP/editPost$XMLRPCMethodImages.class -text
bin/com/roundhill/androidWP/editPost.class -text
bin/com/roundhill/androidWP/eulaDB.class -text
bin/com/roundhill/androidWP/link$1.class -text
bin/com/roundhill/androidWP/link$2.class -text
bin/com/roundhill/androidWP/link.class -text
bin/com/roundhill/androidWP/moderateComments$1$1$1.class -text
bin/com/roundhill/androidWP/moderateComments$1$1.class -text
bin/com/roundhill/androidWP/moderateComments$1.class -text
bin/com/roundhill/androidWP/moderateComments$2.class -text
bin/com/roundhill/androidWP/moderateComments$CommentListAdapter.class -text
bin/com/roundhill/androidWP/moderateComments$CommentView.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethod$2$1.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodCallbackEditComment.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodEditComment$1.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodEditComment$2$1.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodEditComment$2.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodEditComment$3.class -text
bin/com/roundhill/androidWP/moderateComments$XMLRPCMethodEditComment.class -text
bin/com/roundhill/androidWP/moderateComments.class -text
bin/com/roundhill/androidWP/newAccount$1$1.class -text
bin/com/roundhill/androidWP/newAccount$1.class -text
bin/com/roundhill/androidWP/newAccount$2$1$1.class -text
bin/com/roundhill/androidWP/newAccount$2$1$2.class -text
bin/com/roundhill/androidWP/newAccount$2$1.class -text
bin/com/roundhill/androidWP/newAccount$2.class -text
bin/com/roundhill/androidWP/newAccount$3.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethod$2$1.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethod$3$1.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/newAccount$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/newAccount.class -text
bin/com/roundhill/androidWP/newPost$1$1.class -text
bin/com/roundhill/androidWP/newPost$1$2.class -text
bin/com/roundhill/androidWP/newPost$1$3.class -text
bin/com/roundhill/androidWP/newPost$1$4.class -text
bin/com/roundhill/androidWP/newPost$1$5.class -text
bin/com/roundhill/androidWP/newPost$1.class -text
bin/com/roundhill/androidWP/newPost$10$1.class -text
bin/com/roundhill/androidWP/newPost$10.class -text
bin/com/roundhill/androidWP/newPost$11$1.class -text
bin/com/roundhill/androidWP/newPost$11.class -text
bin/com/roundhill/androidWP/newPost$12.class -text
bin/com/roundhill/androidWP/newPost$13.class -text
bin/com/roundhill/androidWP/newPost$14.class -text
bin/com/roundhill/androidWP/newPost$15.class -text
bin/com/roundhill/androidWP/newPost$2.class -text
bin/com/roundhill/androidWP/newPost$3$1.class -text
bin/com/roundhill/androidWP/newPost$3.class -text
bin/com/roundhill/androidWP/newPost$4$1.class -text
bin/com/roundhill/androidWP/newPost$4.class -text
bin/com/roundhill/androidWP/newPost$5.class -text
bin/com/roundhill/androidWP/newPost$6.class -text
bin/com/roundhill/androidWP/newPost$7$1.class -text
bin/com/roundhill/androidWP/newPost$7.class -text
bin/com/roundhill/androidWP/newPost$8$1.class -text
bin/com/roundhill/androidWP/newPost$8.class -text
bin/com/roundhill/androidWP/newPost$9$1.class -text
bin/com/roundhill/androidWP/newPost$9.class -text
bin/com/roundhill/androidWP/newPost$ImageAdapter.class -text
bin/com/roundhill/androidWP/newPost$ImageFilter.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethod$3$1.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethodImages$1.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethodImages$2.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethodImages$3$1.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethodImages$3.class -text
bin/com/roundhill/androidWP/newPost$XMLRPCMethodImages.class -text
bin/com/roundhill/androidWP/newPost.class -text
bin/com/roundhill/androidWP/postStoreDB.class -text
bin/com/roundhill/androidWP/saveName$1.class -text
bin/com/roundhill/androidWP/saveName$2.class -text
bin/com/roundhill/androidWP/saveName.class -text
bin/com/roundhill/androidWP/savedPostsDB.class -text
bin/com/roundhill/androidWP/selectpost$1.class -text
bin/com/roundhill/androidWP/selectpost$2$1.class -text
bin/com/roundhill/androidWP/selectpost$2$2.class -text
bin/com/roundhill/androidWP/selectpost$2.class -text
bin/com/roundhill/androidWP/selectpost.class -text
bin/com/roundhill/androidWP/settings$1$1.class -text
bin/com/roundhill/androidWP/settings$1.class -text
bin/com/roundhill/androidWP/settings$2.class -text
bin/com/roundhill/androidWP/settings$3.class -text
bin/com/roundhill/androidWP/settings.class -text
bin/com/roundhill/androidWP/settingsDB.class -text
bin/com/roundhill/androidWP/viewComments$1.class -text
bin/com/roundhill/androidWP/viewComments$CommentListAdapter.class -text
bin/com/roundhill/androidWP/viewComments$CommentView.class -text
bin/com/roundhill/androidWP/viewComments$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/viewComments$XMLRPCMethod$2$1.class -text
bin/com/roundhill/androidWP/viewComments$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/viewComments$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/viewComments$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/viewComments$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/viewComments.class -text
bin/com/roundhill/androidWP/viewPost$1.class -text
bin/com/roundhill/androidWP/viewPost$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/viewPost$XMLRPCMethod$2$1.class -text
bin/com/roundhill/androidWP/viewPost$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/viewPost$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/viewPost$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/viewPost$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/viewPost.class -text
bin/com/roundhill/androidWP/viewPosts$1.class -text
bin/com/roundhill/androidWP/viewPosts$10$1.class -text
bin/com/roundhill/androidWP/viewPosts$10.class -text
bin/com/roundhill/androidWP/viewPosts$11.class -text
bin/com/roundhill/androidWP/viewPosts$2.class -text
bin/com/roundhill/androidWP/viewPosts$3.class -text
bin/com/roundhill/androidWP/viewPosts$4.class -text
bin/com/roundhill/androidWP/viewPosts$5.class -text
bin/com/roundhill/androidWP/viewPosts$6.class -text
bin/com/roundhill/androidWP/viewPosts$7.class -text
bin/com/roundhill/androidWP/viewPosts$8.class -text
bin/com/roundhill/androidWP/viewPosts$9.class -text
bin/com/roundhill/androidWP/viewPosts$CommentListAdapter.class -text
bin/com/roundhill/androidWP/viewPosts$CommentView.class -text
bin/com/roundhill/androidWP/viewPosts$XMLRPCMethod$1.class -text
bin/com/roundhill/androidWP/viewPosts$XMLRPCMethod$2$1.class -text
bin/com/roundhill/androidWP/viewPosts$XMLRPCMethod$2.class -text
bin/com/roundhill/androidWP/viewPosts$XMLRPCMethod$3.class -text
bin/com/roundhill/androidWP/viewPosts$XMLRPCMethod.class -text
bin/com/roundhill/androidWP/viewPosts$XMLRPCMethodCallback.class -text
bin/com/roundhill/androidWP/viewPosts.class -text
bin/com/roundhill/androidWP/wpAndroid$1.class -text
bin/com/roundhill/androidWP/wpAndroid$2.class -text
bin/com/roundhill/androidWP/wpAndroid$3.class -text
bin/com/roundhill/androidWP/wpAndroid$4.class -text
bin/com/roundhill/androidWP/wpAndroid$5.class -text
bin/com/roundhill/androidWP/wpAndroid$6$1.class -text
bin/com/roundhill/androidWP/wpAndroid$6.class -text
bin/com/roundhill/androidWP/wpAndroid$7.class -text
bin/com/roundhill/androidWP/wpAndroid.class -text
bin/org/xmlrpc/android/Base64Coder.class -text
bin/org/xmlrpc/android/XMLRPCClient.class -text
bin/org/xmlrpc/android/XMLRPCException.class -text
bin/org/xmlrpc/android/XMLRPCFault.class -text
bin/org/xmlrpc/android/XMLRPCSerializer.class -text
bin/resources.ap_ -text
/default.properties -text
res/drawable/add.png -text
res/drawable/app_icon.png -text
res/drawable/bottom_bar.9.png -text
res/drawable/btn_check_off.png -text
res/drawable/btn_check_off_longpress.png -text
res/drawable/btn_check_off_pressed.png -text
res/drawable/btn_check_off_selected.png -text
res/drawable/btn_check_on.png -text
res/drawable/btn_check_on_longpress.png -text
res/drawable/btn_check_on_pressed.png -text
res/drawable/btn_check_on_selected.png -text
res/drawable/btn_default_longpress.9.png -text
res/drawable/btn_default_normal.9.png -text
res/drawable/btn_default_pressed.9.png -text
res/drawable/btn_default_selected.9.png -text
res/drawable/btn_dropdown_normal.9.png -text
res/drawable/btn_dropdown_pressed.9.png -text
res/drawable/btn_dropdown_selected.9.png -text
res/drawable/btn_radio_off.png -text
res/drawable/btn_radio_off_longpress.png -text
res/drawable/btn_radio_off_pressed.png -text
res/drawable/btn_radio_off_selected.png -text
res/drawable/btn_radio_on.png -text
res/drawable/btn_radio_on_longpress.png -text
res/drawable/btn_radio_on_pressed.png -text
res/drawable/btn_radio_on_selected.png -text
res/drawable/comments_tab.png -text
res/drawable/comments_tab_active.png -text
res/drawable/ic_menu_add.png -text
res/drawable/ic_menu_edit.png -text
res/drawable/ic_menu_more.png -text
res/drawable/ic_menu_notifications.png -text
res/drawable/ic_menu_preferences.png -text
res/drawable/ic_menu_rotate.png -text
res/drawable/ic_notification_clear_all.png -text
res/drawable/ic_popup_sync_1.png -text
res/drawable/list_bg.xml -text
res/drawable/list_bg_selector.xml -text
res/drawable/list_divider.xml -text
res/drawable/list_header_bg.xml -text
res/drawable/list_loading.xml -text
res/drawable/list_selector_background_focus.9.png -text
res/drawable/list_selector_background_longpress.9.png -text
res/drawable/list_selector_background_pressed.9.png -text
res/drawable/menu_button.9.png -text
res/drawable/menu_button_bg.9.png -text
res/drawable/pages_tab.png -text
res/drawable/pages_tab_active.png -text
res/drawable/placeholder.png -text
res/drawable/posts_tab.png -text
res/drawable/posts_tab_active.png -text
res/drawable/refresh.png -text
res/drawable/splash_bg.xml -text
res/drawable/title_bg.xml -text
res/drawable/wordpress_home.png -text
res/drawable/wp_logo.png -text
res/layout/btn_check.xml -text
res/layout/comment_tab_selector.xml -text
res/layout/edit.xml -text
res/layout/editpage.xml -text
res/layout/link.xml -text
res/layout/list_selector.xml -text
res/layout/list_selector_background_transition.xml -text
res/layout/main.xml -text
res/layout/moderatecomments.xml -text
res/layout/newaccount.xml -text
res/layout/newpage.xml -text
res/layout/pages_tab_selector.xml -text
res/layout/posts_tab_selector.xml -text
res/layout/radio_group.xml -text
res/layout/reply.xml -text
res/layout/row.xml -text
res/layout/row_post_page.xml -text
res/layout/settings.xml -text
res/layout/spinner_selector.xml -text
res/layout/spinner_textview.xml -text
res/layout/splashscreen.xml -text
res/layout/tabview.xml -text
res/layout/title.xml -text
res/layout/view_comment.xml -text
res/layout/viewcomments.xml -text
res/layout/viewlocaldrafts.xml -text
res/layout/viewpost.xml -text
res/layout/viewposts.xml -text
res/values/strings.xml -text
res/values/styles.xml -text
src/com/commonsware/cwac/thumbnail/ThumbnailActivity.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailAdapter.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailBus.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailMessage.java -text
src/org/wordpress/android/DrawableManager.java -text
src/org/wordpress/android/Entities.java -text
src/org/wordpress/android/ImageAdapter.java -text
src/org/wordpress/android/IntHashMap.java -text
src/org/wordpress/android/ServiceUpdateUIListener.java -text
src/org/wordpress/android/WordPress.java -text
src/org/wordpress/android/broadcastReceiver.java -text
src/org/wordpress/android/categoriesDB.java -text
src/org/wordpress/android/commentService.java -text
src/org/wordpress/android/customButton.java -text
src/org/wordpress/android/customImageButton.java -text
src/org/wordpress/android/customMenuButton.java -text
src/org/wordpress/android/editPage.java -text
src/org/wordpress/android/editPost.java -text
src/org/wordpress/android/escapeUtils.java -text
src/org/wordpress/android/eulaDB.java -text
src/org/wordpress/android/imageHelper.java -text
src/org/wordpress/android/link.java -text
src/org/wordpress/android/localDraftsDB.java -text
src/org/wordpress/android/moderateCommentsTab.java -text
src/org/wordpress/android/newAccount.java -text
src/org/wordpress/android/newPage.java -text
src/org/wordpress/android/newPost.java -text
src/org/wordpress/android/notificationSettings.java -text
src/org/wordpress/android/postStoreDB.java -text
src/org/wordpress/android/replyToComment.java -text
src/org/wordpress/android/settings.java -text
src/org/wordpress/android/settingsDB.java -text
src/org/wordpress/android/splashScreen.java -text
src/org/wordpress/android/tabView.java -text
src/org/wordpress/android/viewComment.java -text
src/org/wordpress/android/viewComments.java -text
src/org/wordpress/android/viewLocalDrafts.java -text
src/org/wordpress/android/viewPages.java -text
src/org/wordpress/android/viewPost.java -text
src/org/wordpress/android/viewPosts.java -text
src/org/wordpress/android/wpAndroid.java -text
src/org/xmlrpc/android/Base64Coder.java -text
src/org/xmlrpc/android/XMLRPCClient.java -text
src/org/xmlrpc/android/XMLRPCException.java -text
src/org/xmlrpc/android/XMLRPCFault.java -text
src/org/xmlrpc/android/XMLRPCSerializer.java -text
