* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.jdt.ui.prefs -text
/AndroidManifest.xml -text
assets/licenses.html -text
assets/licenses_bb.html -text
assets/webview.css -text
/build.xml -text
/default.properties -text
libs/CWAC-AdapterWrapper.jar -text
libs/CWAC-Bus.jar -text
libs/CWAC-Task.jar -text
libs/gson-2.2.2.jar -text
libs/httpmime-4.1.2.jar -text
libs/tagsoup-1.2.1.jar -text
/lint.xml -text
/proguard-project.txt -text
/project.properties -text
/readme.md -text
res/anim/cycle_5.xml -text
res/anim/disappear.xml -text
res/anim/rail.xml -text
res/anim/shake.xml -text
res/anim/show.xml -text
res/drawable-hdpi-v11/notification_icon.png -text
res/drawable-hdpi/ab_bottom_solid_wordpress.9.png -text
res/drawable-hdpi/ab_icon_navigation_down.png -text
res/drawable-hdpi/ab_icon_navigation_up.png -text
res/drawable-hdpi/ab_icon_save.png -text
res/drawable-hdpi/ab_icon_share.png -text
res/drawable-hdpi/ab_icon_wp.png -text
res/drawable-hdpi/ab_solid_wordpress.9.png -text
res/drawable-hdpi/ab_stacked_solid_wordpress.9.png -text
res/drawable-hdpi/ab_transparent_wordpress.9.png -text
res/drawable-hdpi/app_icon.png -text
res/drawable-hdpi/camera.png -text
res/drawable-hdpi/comment_badge.png -text
res/drawable-hdpi/dashboard_wp_logo.png -text
res/drawable-hdpi/gallery_selected_default.9.png -text
res/drawable-hdpi/grey_wp_button.9.png -text
res/drawable-hdpi/grey_wp_button_active.9.png -text
res/drawable-hdpi/grey_wp_button_down.9.png -text
res/drawable-hdpi/ib_icon_web.png -text
res/drawable-hdpi/ic_menu_compose.png -text
res/drawable-hdpi/ic_menu_delete.png -text
res/drawable-hdpi/ic_menu_home.png -text
res/drawable-hdpi/ic_menu_refresh.png -text
res/drawable-hdpi/ic_menu_share.png -text
res/drawable-hdpi/ic_menu_view.png -text
res/drawable-hdpi/list_focused_wordpress.9.png -text
res/drawable-hdpi/menu_dropdown_panel_wordpress.9.png -text
res/drawable-hdpi/menu_hardkey_panel_wordpress.9.png -text
res/drawable-hdpi/new_post_icon.png -text
res/drawable-hdpi/notification_icon.png -text
res/drawable-hdpi/preview_icon.png -text
res/drawable-hdpi/progress_bg_wordpress.9.png -text
res/drawable-hdpi/progress_primary_wordpress.9.png -text
res/drawable-hdpi/progress_secondary_wordpress.9.png -text
res/drawable-hdpi/refresh_icon.png -text
res/drawable-hdpi/right_shadow.9.png -text
res/drawable-hdpi/spinner_ab_default_wordpress.9.png -text
res/drawable-hdpi/spinner_ab_disabled_wordpress.9.png -text
res/drawable-hdpi/spinner_ab_focused_wordpress.9.png -text
res/drawable-hdpi/spinner_ab_pressed_wordpress.9.png -text
res/drawable-hdpi/tab_selected_focused_wordpress.9.png -text
res/drawable-hdpi/tab_selected_pressed_wordpress.9.png -text
res/drawable-hdpi/tab_selected_wordpress.9.png -text
res/drawable-hdpi/tab_unselected_focused_wordpress.9.png -text
res/drawable-hdpi/tab_unselected_pressed_wordpress.9.png -text
res/drawable-hdpi/wp_check_off.png -text
res/drawable-hdpi/wp_check_on.png -text
res/drawable-hdpi/wp_logo_actionbar.png -text
res/drawable-hdpi/wp_small.9.png -text
res/drawable-hdpi/wp_small_down.9.png -text
res/drawable-hdpi/wp_small_over.9.png -text
res/drawable-hdpi/wp_small_toggle.9.png -text
res/drawable-hdpi/wp_statusbar_icon.png -text
res/drawable-large-mdpi/wp_logo_actionbar.png -text
res/drawable-ldpi-v11/notification_icon.png -text
res/drawable-ldpi/ab_icon_wp.png -text
res/drawable-ldpi/app_icon.png -text
res/drawable-ldpi/notification_icon.png -text
res/drawable-mdpi-v11/notification_icon.png -text
res/drawable-mdpi/ab_bottom_solid_wordpress.9.png -text
res/drawable-mdpi/ab_icon_navigation_down.png -text
res/drawable-mdpi/ab_icon_navigation_up.png -text
res/drawable-mdpi/ab_icon_save.png -text
res/drawable-mdpi/ab_icon_share.png -text
res/drawable-mdpi/ab_icon_web.png -text
res/drawable-mdpi/ab_icon_wp.png -text
res/drawable-mdpi/ab_solid_wordpress.9.png -text
res/drawable-mdpi/ab_stacked_solid_wordpress.9.png -text
res/drawable-mdpi/ab_transparent_wordpress.9.png -text
res/drawable-mdpi/app_icon.png -text
res/drawable-mdpi/list_focused_wordpress.9.png -text
res/drawable-mdpi/menu_dropdown_panel_wordpress.9.png -text
res/drawable-mdpi/menu_hardkey_panel_wordpress.9.png -text
res/drawable-mdpi/notification_icon.png -text
res/drawable-mdpi/preview_icon.png -text
res/drawable-mdpi/progress_bg_wordpress.9.png -text
res/drawable-mdpi/progress_primary_wordpress.9.png -text
res/drawable-mdpi/progress_secondary_wordpress.9.png -text
res/drawable-mdpi/spinner_ab_default_wordpress.9.png -text
res/drawable-mdpi/spinner_ab_disabled_wordpress.9.png -text
res/drawable-mdpi/spinner_ab_focused_wordpress.9.png -text
res/drawable-mdpi/spinner_ab_pressed_wordpress.9.png -text
res/drawable-mdpi/tab_selected_focused_wordpress.9.png -text
res/drawable-mdpi/tab_selected_pressed_wordpress.9.png -text
res/drawable-mdpi/tab_selected_wordpress.9.png -text
res/drawable-mdpi/tab_unselected_focused_wordpress.9.png -text
res/drawable-mdpi/tab_unselected_pressed_wordpress.9.png -text
res/drawable-v11/list_highlight_bg.xml -text
res/drawable-v11/menu_button_bg.9.png -text
res/drawable-xhdpi-v11/notification_icon.png -text
res/drawable-xhdpi/ab_bottom_solid_wordpress.9.png -text
res/drawable-xhdpi/ab_icon_navigation_down.png -text
res/drawable-xhdpi/ab_icon_navigation_up.png -text
res/drawable-xhdpi/ab_icon_save.png -text
res/drawable-xhdpi/ab_icon_share.png -text
res/drawable-xhdpi/ab_icon_web.png -text
res/drawable-xhdpi/ab_icon_wp.png -text
res/drawable-xhdpi/ab_solid_wordpress.9.png -text
res/drawable-xhdpi/ab_stacked_solid_wordpress.9.png -text
res/drawable-xhdpi/ab_transparent_wordpress.9.png -text
res/drawable-xhdpi/app_icon.png -text
res/drawable-xhdpi/list_focused_wordpress.9.png -text
res/drawable-xhdpi/menu_dropdown_panel_wordpress.9.png -text
res/drawable-xhdpi/menu_hardkey_panel_wordpress.9.png -text
res/drawable-xhdpi/notification_icon.png -text
res/drawable-xhdpi/preview_icon.png -text
res/drawable-xhdpi/progress_bg_wordpress.9.png -text
res/drawable-xhdpi/progress_primary_wordpress.9.png -text
res/drawable-xhdpi/progress_secondary_wordpress.9.png -text
res/drawable-xhdpi/spinner_ab_default_wordpress.9.png -text
res/drawable-xhdpi/spinner_ab_disabled_wordpress.9.png -text
res/drawable-xhdpi/spinner_ab_focused_wordpress.9.png -text
res/drawable-xhdpi/spinner_ab_pressed_wordpress.9.png -text
res/drawable-xhdpi/tab_selected_focused_wordpress.9.png -text
res/drawable-xhdpi/tab_selected_pressed_wordpress.9.png -text
res/drawable-xhdpi/tab_selected_wordpress.9.png -text
res/drawable-xhdpi/tab_unselected_focused_wordpress.9.png -text
res/drawable-xhdpi/tab_unselected_pressed_wordpress.9.png -text
res/drawable/app_icon.png -text
res/drawable/browser_reload.png -text
res/drawable/camera.png -text
res/drawable/comment_badge_background.xml -text
res/drawable/comment_pending_bg_selector.xml -text
res/drawable/comment_pending_gradient.xml -text
res/drawable/content_bg.xml -text
res/drawable/content_bg_header.xml -text
res/drawable/dashboard_icon_comments.png -text
res/drawable/dashboard_icon_new_page.png -text
res/drawable/dashboard_icon_new_post.png -text
res/drawable/dashboard_icon_pages.png -text
res/drawable/dashboard_icon_photo.png -text
res/drawable/dashboard_icon_posts.png -text
res/drawable/dashboard_icon_settings.png -text
res/drawable/dashboard_icon_stats.png -text
res/drawable/dashboard_icon_subs.png -text
res/drawable/dashboard_icon_video.png -text
res/drawable/dashboard_icon_wp.png -text
res/drawable/format_bar_bg.xml -text
res/drawable/format_bar_btn.xml -text
res/drawable/format_bar_btn_toggled.xml -text
res/drawable/grey_wp_button.9.png -text
res/drawable/grey_wp_button_active.9.png -text
res/drawable/grey_wp_button_down.9.png -text
res/drawable/home_gradient.xml -text
res/drawable/ic_menu_compose.png -text
res/drawable/ic_menu_delete.png -text
res/drawable/ic_menu_home.png -text
res/drawable/ic_menu_refresh.png -text
res/drawable/ic_menu_share.png -text
res/drawable/ic_menu_view.png -text
res/drawable/ic_popup_sync_1.png -text
res/drawable/list_bg_selector.xml -text
res/drawable/list_divider.xml -text
res/drawable/list_header_bg.xml -text
res/drawable/list_highlight_bg.xml -text
res/drawable/md_list_selector.xml -text
res/drawable/menu_button_bg.9.png -text
res/drawable/menu_button_selector.xml -text
res/drawable/menu_drawer_selected.xml -text
res/drawable/new_account_logo.png -text
res/drawable/placeholder.png -text
res/drawable/pressed_background_wordpress.xml -text
res/drawable/progress_color.xml -text
res/drawable/progress_horizontal_wordpress.xml -text
res/drawable/reader_footer_bg.xml -text
res/drawable/section_header.xml -text
res/drawable/selectable_background_wordpress.xml -text
res/drawable/spinner_background_ab_wordpress.xml -text
res/drawable/spinner_white_48.png -text
res/drawable/tab_color_selector.xml -text
res/drawable/tab_indicator_ab_wordpress.xml -text
res/drawable/tab_unselected.xml -text
res/drawable/title_bg.xml -text
res/drawable/title_text_bg.xml -text
res/drawable/video.png -text
res/drawable/view_post_navbar_bg.xml -text
res/drawable/wordpress_gallery_background.xml -text
res/drawable/wp_button.xml -text
res/drawable/wp_button_small.xml -text
res/drawable/wp_button_toggle.xml -text
res/drawable/wp_logo.png -text
res/drawable/wp_logo_actionbar.png -text
res/drawable/wp_logo_home.png -text
res/drawable/wp_small.9.png -text
res/drawable/wp_small_down.9.png -text
res/drawable/wp_small_over.9.png -text
res/drawable/wp_small_toggle.9.png -text
res/drawable/wp_statusbar_icon.png -text
res/drawable/wpcom.png -text
res/drawable/wplogo.png -text
res/layout-large-mdpi/comments.xml -text
res/layout-large-mdpi/edit_comment.xml -text
res/layout-large-mdpi/posts.xml -text
res/layout-large-port-mdpi/moderatecomments.xml -text
res/layout-sw720dp/comments.xml -text
res/layout-sw720dp/posts.xml -text
res/layout/about.xml -text
res/layout/add_account.xml -text
res/layout/add_account_settings.xml -text
res/layout/add_category.xml -text
res/layout/add_quickpress_shortcut.xml -text
res/layout/alert_image_options.xml -text
res/layout/blog_preferences.xml -text
res/layout/blogs_row.xml -text
res/layout/categories_row.xml -text
res/layout/comment_row.xml -text
res/layout/comments.xml -text
res/layout/edit.xml -text
res/layout/edit_comment.xml -text
res/layout/home.xml -text
res/layout/home_row.xml -text
res/layout/image_view.xml -text
res/layout/link.xml -text
res/layout/list_footer_btn.xml -text
res/layout/list_footer_progress.xml -text
res/layout/menu_drawer_row.xml -text
res/layout/menu_refresh_view.xml -text
res/layout/moderatecomments.xml -text
res/layout/new_account.xml -text
res/layout/posts.xml -text
res/layout/reader_detail.xml -text
res/layout/reader_topics.xml -text
res/layout/reader_web_page.xml -text
res/layout/reader_wpcom.xml -text
res/layout/reader_wpcom_pager.xml -text
res/layout/reply.xml -text
res/layout/row_post_page.xml -text
res/layout/select_blogs_list.xml -text
res/layout/select_categories.xml -text
res/layout/spinner_textview.xml -text
res/layout/table_row.xml -text
res/layout/table_row_header.xml -text
res/layout/view_comment.xml -text
res/layout/view_web_stats.xml -text
res/layout/viewpost.xml -text
res/layout/viewposts.xml -text
res/layout/webview.xml -text
res/menu/categories.xml -text
res/menu/edit.xml -text
res/menu/posts.xml -text
res/menu/refresh_only.xml -text
res/values-bs/strings.xml -text
res/values-ca/strings.xml -text
res/values-cs/strings.xml -text
res/values-da/strings.xml -text
res/values-de/strings.xml -text
res/values-es/strings.xml -text
res/values-eu/strings.xml -text
res/values-fi/strings.xml -text
res/values-fr/strings.xml -text
res/values-hdpi/dimens.xml -text
res/values-he/strings.xml -text
res/values-hr/strings.xml -text
res/values-hu/strings.xml -text
res/values-id/strings.xml -text
res/values-in/strings.xml -text
res/values-it/strings.xml -text
res/values-ja/strings.xml -text
res/values-ka/strings.xml -text
res/values-ko/strings.xml -text
res/values-large-hdpi/dimens.xml -text
res/values-large-hdpi/styles.xml -text
res/values-large-mdpi/dimens.xml -text
res/values-large-mdpi/integers.xml -text
res/values-large-mdpi/styles.xml -text
res/values-large-tvdpi/dimens.xml -text
res/values-large-tvdpi/integers.xml -text
res/values-large-tvdpi/styles.xml -text
res/values-mk/strings.xml -text
res/values-nb/strings.xml -text
res/values-nl/strings.xml -text
res/values-pl/strings.xml -text
res/values-pt/strings.xml -text
res/values-ru/strings.xml -text
res/values-sk/strings.xml -text
res/values-small/dimens.xml -text
res/values-sv/strings.xml -text
res/values-sw720dp/dimens.xml -text
res/values-sw720dp/styles.xml -text
res/values-ta/strings.xml -text
res/values-th/strings.xml -text
res/values-tr/strings.xml -text
res/values-v11/colors.xml -text
res/values-v11/styles.xml -text
res/values-v14/styles.xml -text
res/values-xlarge-v11/styles.xml -text
res/values-zh-rTW/strings.xml -text
res/values-zh/strings.xml -text
res/values/arrays.xml -text
res/values/colors.xml -text
res/values/dimens.xml -text
res/values/ids.xml -text
res/values/integers.xml -text
res/values/strings.xml -text
res/values/styles.xml -text
res/xml/preferences.xml -text
src/com/commonsware/cwac/cache/AsyncCache.java -text
src/com/commonsware/cwac/cache/CacheBase.java -text
src/com/commonsware/cwac/cache/SimpleWebImageCache.java -text
src/com/commonsware/cwac/cache/WebImageCache.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailActivity.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailAdapter.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailBus.java -text
src/com/commonsware/cwac/thumbnail/ThumbnailMessage.java -text
src/org/wordpress/android/CommentBroadcastReceiver.java -text
src/org/wordpress/android/Constants.java -text
src/org/wordpress/android/ServiceUpdateUIListener.java -text
src/org/wordpress/android/WordPress.java -text
src/org/wordpress/android/WordPressDB.java -text
src/org/wordpress/android/models/Blog.java -text
src/org/wordpress/android/models/Comment.java -text
src/org/wordpress/android/models/MediaFile.java -text
src/org/wordpress/android/models/Post.java -text
src/org/wordpress/android/ui/AddQuickPressShortcutActivity.java -text
src/org/wordpress/android/ui/AuthenticatedWebViewActivity.java -text
src/org/wordpress/android/ui/DashboardActivity.java -text
src/org/wordpress/android/ui/ViewWebStatsActivity.java -text
src/org/wordpress/android/ui/WPActionBarActivity.java -text
src/org/wordpress/android/ui/WebViewActivity.java -text
src/org/wordpress/android/ui/accounts/AddAccountActivity.java -text
src/org/wordpress/android/ui/accounts/AddAcountSettingsActivity.java -text
src/org/wordpress/android/ui/accounts/NewAccountActivity.java -text
src/org/wordpress/android/ui/accounts/SignupActivity.java -text
src/org/wordpress/android/ui/comments/CommentsActivity.java -text
src/org/wordpress/android/ui/comments/EditCommentActivity.java -text
src/org/wordpress/android/ui/comments/ReplyToCommentActivity.java -text
src/org/wordpress/android/ui/comments/ViewCommentActivity.java -text
src/org/wordpress/android/ui/comments/ViewCommentFragment.java -text
src/org/wordpress/android/ui/comments/ViewCommentsFragment.java -text
src/org/wordpress/android/ui/posts/AddCategoryActivity.java -text
src/org/wordpress/android/ui/posts/EditLinkActivity.java -text
src/org/wordpress/android/ui/posts/EditPostActivity.java -text
src/org/wordpress/android/ui/posts/PagesActivity.java -text
src/org/wordpress/android/ui/posts/PostsActivity.java -text
src/org/wordpress/android/ui/posts/PreviewPostActivity.java -text
src/org/wordpress/android/ui/posts/SelectCategoriesActivity.java -text
src/org/wordpress/android/ui/posts/ViewPostActivity.java -text
src/org/wordpress/android/ui/posts/ViewPostFragment.java -text
src/org/wordpress/android/ui/posts/ViewPostsFragment.java -text
src/org/wordpress/android/ui/prefs/AboutActivity.java -text
src/org/wordpress/android/ui/prefs/BlogPreferencesActivity.java -text
src/org/wordpress/android/ui/prefs/LicensesActivity.java -text
src/org/wordpress/android/ui/prefs/PreferencesActivity.java -text
src/org/wordpress/android/ui/reader/ReaderBaseFragment.java -text
src/org/wordpress/android/ui/reader/ReaderDetailPageFragment.java -text
src/org/wordpress/android/ui/reader/ReaderImplFragment.java -text
src/org/wordpress/android/ui/reader/ReaderPagerActivity.java -text
src/org/wordpress/android/ui/reader/ReaderTopicsSelectorFragment.java -text
src/org/wordpress/android/ui/reader/ReaderWebPageFragment.java -text
src/org/wordpress/android/util/AlertUtil.java -text
src/org/wordpress/android/util/CommentBadgeTextView.java -text
src/org/wordpress/android/util/CommentService.java -text
src/org/wordpress/android/util/DeviceUtils.java -text
src/org/wordpress/android/util/DrawableManager.java -text
src/org/wordpress/android/util/Entities.java -text
src/org/wordpress/android/util/EscapeUtils.java -text
src/org/wordpress/android/util/FastXmlSerializer.java -text
src/org/wordpress/android/util/HttpRequest.java -text
src/org/wordpress/android/util/ImageHelper.java -text
src/org/wordpress/android/util/IntHashMap.java -text
src/org/wordpress/android/util/LocationHelper.java -text
src/org/wordpress/android/util/PostUploadService.java -text
src/org/wordpress/android/util/StringHelper.java -text
src/org/wordpress/android/util/TrustAllManager.java -text
src/org/wordpress/android/util/TrustAllSSLSocketFactory.java -text
src/org/wordpress/android/util/WPAlertDialogFragment.java -text
src/org/wordpress/android/util/WPEditText.java -text
src/org/wordpress/android/util/WPHtml.java -text
src/org/wordpress/android/util/WPImageSpan.java -text
src/org/wordpress/android/util/WPUnderlineSpan.java -text
src/org/wordpress/android/util/WPViewPager.java -text
src/org/xmlrpc/android/ApiHelper.java -text
src/org/xmlrpc/android/ConnectionClient.java -text
src/org/xmlrpc/android/CustomMultipartEntity.java -text
src/org/xmlrpc/android/XMLRPCClient.java -text
src/org/xmlrpc/android/XMLRPCException.java -text
src/org/xmlrpc/android/XMLRPCFault.java -text
src/org/xmlrpc/android/XMLRPCSerializer.java -text
/update-translations.rb -text
