language: java
jdk: oraclejdk7
env:
  global:
    - GRADLE_OPTS="-XX:MaxPermSize=512m -Xmx4g"
    - ANDROID_SDKS=android-14
    - ANDROID_TARGET=android-14

before_install:
  # Install base Android SDK
  - sudo apt-get update -qq
  - if [ `uname -m` = x86_64 ]; then sudo apt-get install -qq --force-yes libgd2-xpm ia32-libs ia32-libs-multiarch > /dev/null; fi
  - wget http://dl.google.com/android/android-sdk_r23.0.2-linux.tgz
  - tar xzf android-sdk_r23.0.2-linux.tgz
  - export ANDROID_HOME=$PWD/android-sdk-linux
  - export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools

  # install android build tools
  - wget https://dl-ssl.google.com/android/repository/build-tools_r19.1-linux.zip
  - unzip build-tools_r19.1-linux.zip -d $ANDROID_HOME
  - mkdir -p $ANDROID_HOME/build-tools/
  - mv $ANDROID_HOME/android-4.4.2 $ANDROID_HOME/build-tools/19.1

  # Install required components.
  # For a full list, run `android list sdk -a --extended`
  # Note that sysimg-18 downloads the ARM, x86 and MIPS images (we should optimize this).
  # Other relevant API's
  - echo yes | android update sdk --filter platform-tools --no-ui --force > /dev/null
  - echo yes | android update sdk --filter android-19 --no-ui --force > /dev/null
  - echo yes | android update sdk --filter android-20 --no-ui --force > /dev/null
  - echo yes | android update sdk --filter sysimg-19 --no-ui --force > /dev/null
  - echo yes | android update sdk --filter android-14 --no-ui --force > /dev/null
  - echo yes | android update sdk --filter extra-android-support --no-ui > /dev/null
  - echo yes | android update sdk --filter extra-android-m2repository --no-ui > /dev/null

  # Create a valid local.properties file
  - echo "sdk.dir=$ANDROID_HOME" > local.properties; cat local.properties;

  # Setup gradle.properties
  - cp WordPress/gradle.properties-example WordPress/gradle.properties

install:
  - ./gradlew build
cache:
  directories:
    - .gradle
