<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wordpress.android"
    android:installLocation="auto" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- GCM configuration -->
    <permission
        android:name="org.wordpress.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.wordpress.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="WordPress"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="WordPress"
        android:theme="@style/WordPress" >

        <!-- Account activities -->
        <activity
            android:name=".ui.accounts.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.accounts.NewAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.accounts.NewBlogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <!-- Preferences activities -->
        <activity android:name=".ui.prefs.AboutActivity" />
        <activity
            android:name=".ui.prefs.BlogPreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Sherlock.Light" />
        <activity android:name=".ui.prefs.LicensesActivity" />
        <activity
            android:name=".ui.prefs.PreferencesActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Sherlock.Light" />
        <activity android:name=".ui.accounts.ManageBlogsActivity" />

        <!-- Comments activities -->
        <activity
            android:name=".ui.comments.CommentsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.comments.EditCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Posts activities -->
        <activity
            android:name=".ui.posts.AddCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_new_category"
            android:theme="@style/WordPress.Dialog" />
        <activity
            android:name=".ui.posts.EditLinkActivity"
            android:label="@string/create_a_link"
            android:theme="@style/WordPress.Dialog"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.posts.EditPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.posts.PostsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.posts.PagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.posts.PreviewPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.posts.SelectCategoriesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.posts.ViewPostActivity" />

        <!-- Stats Activities -->
        <activity android:name=".ui.stats.StatsActivity" >
        </activity>

        <!-- Media Activities -->
        <activity android:name=".ui.media.MediaBrowserActivity" >
        </activity>

        <activity android:name=".ui.media.MediaGalleryActivity">
        </activity>

        <activity android:name=".ui.media.MediaGalleryPickerActivity">
        </activity>

        <!-- Theme Activities -->
        <activity android:name=".ui.themes.ThemeBrowserActivity" >
        </activity>

        <!-- Deep Linking Activity -->
        <activity
            android:name=".ui.DeepLinkingIntentReceiverActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="viewpost"
                    android:scheme="wordpress" >
                </data>
            </intent-filter>
        </activity>

        <!-- Native Reader Activities -->
        <activity
            android:name=".ui.reader.ReaderActivity"
            android:theme="@style/WordPress.Theme.NoBackground"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.reader.ReaderPostDetailActivity"
            android:theme="@style/WordPress.Theme.NoBackground"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.AppLogViewerActivity"
            android:label="@string/reader_title_applog" />
        <activity
            android:name=".ui.reader.ReaderUserListActivity"
            android:theme="@style/ReaderTheme.Popup" />
        <activity
            android:name=".ui.reader.ReaderTagActivity"
            android:theme="@style/ReaderTheme.Popup"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.reader.ReaderReblogActivity"
            android:theme="@style/ReaderTheme.Popup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.reader.ReaderPhotoViewerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!-- Other activities -->

        <activity android:name=".ui.ShareIntentReceiverActivity" android:theme="@style/FloatingActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.stats.WPComLoginActivity" android:theme="@style/FloatingActivityTheme">
        </activity>
        <activity
            android:name=".ui.AddQuickPressShortcutActivity"
            android:label="QuickPress" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AuthenticatedWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.ViewSiteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <!-- Notifications activities -->
        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".ui.notifications.NotificationsWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!--  Passcode lock activities -->
        <activity
            android:name="org.wordpress.passcodelock.PasscodeUnlockActivity"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.wordpress.passcodelock.PasscodePreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Light"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.wordpress.passcodelock.PasscodeManagePasswordActivity"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

		<!-- Services -->
        <service
            android:name=".util.PostUploadService"
            android:label="Post Upload Service" >
        </service>

        <service
            android:name=".util.MediaUploadService"
            android:label="Media Upload Service" >
        </service>

        <service
            android:name=".util.MediaDeleteService"
            android:label="Media Delete Service" >
        </service>

        <service android:name="org.wordpress.android.GCMIntentService" />
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.wordpress.android" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".providers.StatsContentProvider"
            android:authorities="org.wordpress.android.providers.StatsContentProvider"
            android:exported="false" />

    </application>

</manifest>
