<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="41" android:versionName="1.8.0" package="org.wordpress.android">
    <uses-sdk android:minSdkVersion="2" />
    <application android:icon="@drawable/app_icon" android:label="WordPress" android:debuggable="true" android:name="WordPress">
        <activity android:name=".wpAndroid" android:icon="@drawable/app_icon" android:label="WordPress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".settings" android:label="Settings"></activity>

<activity android:name=".link" android:label="Enter a URL"></activity>
<activity android:label="Save Post" android:name="saveName"></activity>
<activity android:label="Load a Saved Post" android:name="selectpost"></activity>
<activity android:name="viewPosts"></activity>
<activity android:name="viewComments" android:configChanges="keyboardHidden|orientation"></activity>
<activity android:name="newPost"></activity>
<activity android:name="newAccount" android:label="WordPress for Android™"></activity>
<activity android:name="editPost" android:configChanges="keyboardHidden|orientation"></activity>
<activity android:name="viewPost"></activity>
<activity android:name="moderateComments" android:configChanges="keyboardHidden|orientation"></activity>

<activity android:name="notificationSettings" android:label="Notification Settings"></activity>
<service android:name="commentService" android:label="Comment Service"></service>
<receiver android:name="broadcastReceiver"></receiver>
<activity android:name="tabView"></activity>
<activity android:name="viewLocalDrafts"></activity>
<activity android:name="viewPages"></activity>

<activity android:name="moderateCommentsTab" android:configChanges="keyboardHidden|orientation"></activity>
<activity android:name="viewComment" android:theme="@android:style/Theme.Dialog"></activity>
</application>




<uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.INTERNET"></uses-permission>





</manifest> 