<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.wordpress.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- Normal permissions, access automatically granted to app -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- Dangerous permissions, access must be requested at runtime -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- GCM all build types configuration -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- self-defined permission prevents other apps to hijack PNs -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name=".WordPress"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/WordPress"
        tools:replace="allowBackup, icon">
        <activity
            android:name=".ui.WPLaunchActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main tab activity -->
        <activity
            android:name=".ui.main.WPMainActivity"
            android:theme="@style/Calypso.NoActionBar" />

        <!-- Account activities -->
        <activity
            android:name=".ui.accounts.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="signin"
                    android:scheme="wordpress" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.accounts.NewBlogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.accounts.HelpActivity"
            android:label=""
            android:theme="@style/CalypsoTheme.NoActionBarShadow" />
        <!-- empty title -->

        <!-- Preferences activities -->
        <activity
            android:name=".ui.prefs.AboutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.prefs.BlogPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".ui.prefs.LicensesActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.prefs.AccountSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/account_settings"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".ui.prefs.AppSettingsActivity"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/me_btn_app_settings"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".ui.prefs.notifications.NotificationsSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".networking.SSLCertsViewActivity"
            android:theme="@style/Calypso.NoActionBar" />

        <!-- Comments activities -->
        <activity
            android:name=".ui.comments.CommentsActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.comments.CommentDetailActivity"
            android:theme="@style/CalypsoTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.comments.EditCommentActivity"
            android:theme="@style/CalypsoTheme" />

        <!-- Posts activities -->
        <activity
            android:name=".ui.posts.AddCategoryActivity"
            android:label="@string/add_new_category"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".editor.legacy.EditLinkActivity"
            android:label="@string/create_a_link"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.posts.EditPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/CalypsoTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.posts.PostsListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!-- Workaround for old launcher icon pointing to .ui.posts.PostsActivity -->
        <activity-alias
            android:name=".ui.posts.PostsActivity"
            android:enabled="true"
            android:targetActivity=".ui.WPLaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.posts.PostsListActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.posts.PostPreviewActivity"
            android:label="@string/preview_post"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.posts.SelectCategoriesActivity"
            android:theme="@style/CalypsoTheme" />

        <!-- plans -->
        <activity android:name=".ui.plans.PlansActivity"
                  android:theme="@style/Calypso.NoActionBar"/>
        <activity android:name=".ui.plans.PlanPostPurchaseActivity"
                  android:theme="@style/Calypso.NoActionBar"/>

        <!-- Stats Activities -->
        <activity
            android:name=".ui.stats.StatsActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.stats.StatsViewAllActivity"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".ui.stats.StatsSingleItemDetailsActivity"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".ui.stats.StatsWidgetConfigureActivity"
            android:label="@string/site_picker_title"
            android:theme="@style/CalypsoTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WPWebViewActivity"
            android:theme="@style/Calypso.NoActionBar" />

        <!-- Media Activities -->
        <activity
            android:name=".ui.media.MediaPickerActivity"
            android:theme="@style/CalypsoTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.media.MediaBrowserActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity android:name=".ui.media.MediaGalleryActivity" />
        <activity android:name=".ui.media.MediaGalleryPickerActivity" />

        <!-- Theme Activities -->
        <activity
            android:name=".ui.themes.ThemeBrowserActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.themes.ThemeWebActivity"
            android:label="@string/selected_theme"
            android:parentActivityName=".ui.themes.ThemeBrowserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.themes.ThemeBrowserActivity" />
        </activity>

        <!-- Deep Linking Activity -->
        <activity
            android:name=".ui.DeepLinkingIntentReceiverActivity"
            android:theme="@style/Calypso.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="viewpost"
                    android:scheme="wordpress" />
            </intent-filter>
        </activity>

        <!-- Reader Activities -->
        <activity
            android:name=".ui.reader.ReaderPostListActivity"
            android:label="@string/reader"
            android:theme="@style/Calypso.NoActionBar">
        </activity>
        <activity
            android:name=".ui.reader.ReaderPostPagerActivity"
            android:label="@string/reader_title_post_detail"
            android:theme="@style/Calypso.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.reader.ReaderCommentListActivity"
            android:label="@string/reader_title_comments"
            android:theme="@style/Calypso.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.AppLogViewerActivity"
            android:label="@string/reader_title_applog"
            android:theme="@style/CalypsoTheme" />
        <activity
            android:name=".ui.reader.ReaderUserListActivity"
            android:theme="@style/Calypso.NoActionBar" />
        <activity
            android:name=".ui.reader.ReaderSubsActivity"
            android:label="@string/reader_title_subs"
            android:theme="@style/Calypso.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.reader.ReaderPhotoViewerActivity"
            android:theme="@style/ReaderPhotoViewerTheme" />

        <!-- Other activities -->

        <activity
            android:name=".ui.ShareIntentReceiverActivity"
            android:theme="@style/Calypso.FloatingActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AddQuickPressShortcutActivity"
            android:label="WordPress QuickPress">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.SitePickerActivity"
            android:label="@string/site_picker_title"
            android:theme="@style/CalypsoTheme" />

        <!-- Notifications activities -->
        <activity
            android:name=".ui.notifications.NotificationsDetailActivity"
            android:theme="@style/CalypsoTheme" />

        <!-- Passcode lock activities -->
        <activity
            android:name="org.wordpress.passcodelock.PasscodeUnlockActivity"
            android:theme="@style/CalypsoTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.wordpress.passcodelock.PasscodeManagePasswordActivity"
            android:theme="@style/CalypsoTheme"
            android:windowSoftInputMode="stateHidden" />

        <!--People Management-->
        <activity
            android:name=".ui.people.PeopleManagementActivity"
            android:label="@string/people"
            android:theme="@style/Calypso.NoActionBar"/>

        <!-- Me activities -->
        <activity
            android:name=".ui.prefs.MyProfileActivity"
            android:label="@string/my_profile"
            android:theme="@style/CalypsoTheme" />

        <activity android:name=".ui.VisualEditorOptionsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="editor"
                    android:scheme="wordpress" />
            </intent-filter>
        </activity>

        <!-- Lib activities-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Services -->
        <service
            android:name=".ui.posts.services.PostUploadService"
            android:label="Post Upload Service" />
        <service
            android:name=".ui.posts.services.PostMediaService"
            android:exported="false"
            android:label="Post Media Service" />
        <service
            android:name=".ui.posts.services.PostUpdateService"
            android:exported="false"
            android:label="Post Update Service" />
        <service
            android:name=".ui.media.services.MediaUploadService"
            android:label="Media Upload Service" />
        <service
            android:name=".ui.media.services.MediaDeleteService"
            android:label="Media Delete Service" />
        <service
            android:name=".ui.stats.service.StatsService"
            android:exported="false"
            android:label="Stats Update Service" />
        <service
            android:name=".ui.reader.services.ReaderUpdateService"
            android:exported="false"
            android:label="Reader Update Service" />
        <service
            android:name=".ui.reader.services.ReaderPostService"
            android:exported="false"
            android:label="Reader Post Service" />
        <service
            android:name=".ui.reader.services.ReaderSearchService"
            android:exported="false"
            android:label="Reader Search Service" />
        <service
            android:name=".ui.reader.services.ReaderCommentService"
            android:exported="false"
            android:label="Reader Comment Service" />
        <service
            android:name=".ui.suggestion.service.SuggestionService"
            android:exported="false"
            android:label="Suggestion Service" />
        <service
            android:name=".ui.plans.PlanUpdateService"
            android:exported="false"
            android:label="Plans Update Service" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <receiver android:name=".ui.notifications.NotificationDismissBroadcastReceiver" />
        <receiver android:name=".ui.notifications.ShareAndDismissNotificationReceiver" />
        <receiver
            android:name=".networking.ConnectionChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.stats.StatsWidgetProvider"
            android:label="@string/stats_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_widget_info" />
        </receiver>

        <!-- Google Cloud Messaging receiver and services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false" />

        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

        <service
            android:name=".GCMMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".InstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:theme="@style/Calypso.NoActionBar"
            android:name=".ui.accounts.login.MagicLinkSignInActivity"
            android:label="@string/sign_in"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="magic-login"
                    android:scheme="wordpress" >
                </data>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.HelpshiftDeepLinkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="helpshift"
                    android:scheme="wordpress" />
            </intent-filter>
        </activity>

        <!-- Smart Lock for Passwords -->
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
    </application>
</manifest>
