<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.wordpress.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="org.m4m.android" />

    <!-- Normal permissions, access automatically granted to app -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- Dangerous permissions, access must be requested at runtime -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- GCM all build types configuration -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:name=".WordPress"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/WordPress"
        tools:replace="allowBackup, icon,android:supportsRtl"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/com_google_android_geo_api_key"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.WPLaunchActivity"
            android:noHistory="true"
            android:theme="@style/NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Main tab activity -->
        <activity
            android:name=".ui.main.WPMainActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="" />

        <!-- Account activities -->
        <activity
            android:name=".ui.main.MeActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/me_section_screen_title" />
        <activity
            android:name=".ui.accounts.LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.accounts.LoginMagicLinkInterceptActivity"
            android:theme="@style/NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="magic-login"
                    android:scheme="wordpress" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.accounts.LoginEpilogueActivity"
            android:label="@string/login_epilogue_screen_title"
            android:theme="@style/LoginTheme" />

        <activity
            android:name=".ui.accounts.SignupEpilogueActivity"
            android:label="@string/signup_epilogue_screen_title"
            android:theme="@style/LoginTheme" />

        <activity
            android:name=".ui.accounts.PostSignupInterstitialActivity"
            android:label="@string/post_signup_interstitial_title"
            android:theme="@style/LoginTheme"
            />

        <activity
            android:name=".ui.sitecreation.SiteCreationActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.accounts.HelpActivity"
            android:label="@string/help_screen_title"
            android:theme="@style/WordPress.NoActionBar" />
        <!-- empty title -->

        <!-- Preferences activities -->
        <activity
            android:name=".ui.prefs.AboutActivity"
            android:label="@string/about_the_app"
            android:theme="@style/WordPress.NoActionBar.DarkNavbar" />
        <activity
            android:name=".ui.prefs.BlogPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.prefs.ReleaseNotesActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/release_notes_screen_title"/>
        <activity
            android:name=".ui.prefs.LicensesActivity"
            android:label="@string/license_screen_title"
            android:theme="@style/WordPress.NoActionBar" />
        <activity android:name=".ui.prefs.SiteSettingsTagListActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/site_settings_tags_title" />
        <activity
            android:name=".ui.prefs.AccountSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/account_settings"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.prefs.AppSettingsActivity"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/me_btn_app_settings"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.prefs.notifications.NotificationsSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/notif_settings_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".networking.SSLCertsViewActivity"
            android:theme="@style/WordPress.NoActionBar" />

        <!-- Comments activities -->
        <activity
            android:name=".ui.comments.CommentsActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:launchMode="singleTop"
            android:label="@string/comments"/>
        <activity
            android:name=".ui.comments.EditCommentActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/edit_comment"/>
        <activity
            android:name=".ui.comments.CommentsDetailActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/comments"/>

        <!-- Posts activities -->
        <activity
            android:name=".ui.posts.EditPostActivity"
            android:theme="@style/WordPress.Editor.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.posts.PostsListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Story composer activity -->
        <activity
            android:name=".ui.stories.StoryComposerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Immersive">
        </activity>

        <!-- Workaround for old launcher icon pointing to .ui.posts.PostsActivity -->
        <activity-alias
            android:name=".ui.posts.PostsActivity"
            android:enabled="true"
            android:targetActivity=".ui.WPLaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.posts.PostsListActivity"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar"
            android:label="" />
        <activity
            android:name=".ui.pages.PagesActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:launchMode="singleTop"
            android:label="@string/my_site_btn_site_pages" />
        <activity
            android:name=".ui.pages.PageParentActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/set_parent" />
        <activity
            android:name=".ui.posts.SelectCategoriesActivity"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.posts.PostSettingsTagsActivity"
            android:label="@string/post_settings_tags"
            android:theme="@style/WordPress.NoActionBar" />

        <!-- History -->
        <activity
            android:name=".ui.history.HistoryDetailActivity"
            android:label="@string/history_detail_title"
            android:theme="@style/WordPress.Editor.NoActionBar" />

        <!-- plans -->
        <activity
            android:name=".ui.plans.PlansActivity"
            android:label="@string/plans"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.WPMainActivity"
            android:theme="@style/WordPress.NoActionBar" />

        <!-- Stats Activities -->
        <activity
            android:name=".ui.stats.refresh.StatsActivity"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.stats.refresh.StatsViewAllActivity"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.stats.refresh.lists.sections.insights.management.InsightsManagementActivity"
            android:label="@string/stats_management_screen_title"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.stats.refresh.lists.detail.StatsDetailActivity"
            android:label="@string/stats"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.WPWebViewActivity"
            android:theme="@style/WordPress.NoActionBar"/>
        <activity
            android:name=".ui.JetpackConnectionWebViewActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.stats.StatsConnectJetpackActivity"
            android:theme="@style/WordPress.NoActionBar" />
        <activity android:name=".ui.JetpackConnectionResultActivity" android:theme="@style/WordPress.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="jetpack-connection"
                    android:scheme="wordpress" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.JetpackRemoteInstallActivity"
            android:label="@string/jetpack"
            android:theme="@style/WordPress.NoActionBar"/>

        <!-- Media Activities -->
        <activity
            android:name=".ui.media.MediaBrowserActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:label="@string/wp_media_title" />
        <activity
            android:name=".ui.media.MediaPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/media_settings_image_preview_desc"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.media.MediaSettingsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:label="@string/media_settings_screen_title"
            android:theme="@style/WordPress.NoActionBar.TranslucentStatus" />

        <!-- Theme Activities -->
        <activity
            android:name=".ui.themes.ThemeBrowserActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:launchMode="singleTop"
            android:label="@string/themes"/>
        <activity
            android:name=".ui.themes.ThemeWebActivity"
            android:label="@string/selected_theme"
            android:theme="@style/WordPress.NoActionBar"
            android:parentActivityName=".ui.themes.ThemeBrowserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.themes.ThemeBrowserActivity" />
        </activity>

        <!-- Deep Linking Activity -->
        <activity
            android:name=".ui.DeepLinkingIntentReceiverActivity"
            android:theme="@style/WordPress.NoActionBar"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="viewpost"
                    android:scheme="wordpress" />
                <data
                    android:host="stats"
                    android:scheme="wordpress" />
                <data
                    android:host="read"
                    android:scheme="wordpress" />
                <data
                    android:host="post"
                    android:scheme="wordpress" />
                <data
                    android:host="notifications"
                    android:scheme="wordpress" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="public-api.wordpress.com"
                    android:pathPattern="/mbar/.*"
                    android:scheme="https" />

                <data
                    android:host="wordpress.com"
                    android:pathPattern="/post/..*"
                    android:scheme="https" />

                <data
                    android:host="wordpress.com"
                    android:pathPattern="/post/..*"
                    android:scheme="http" />
            </intent-filter>

        </activity>

        <!-- Reader Activities -->
        <activity
            android:name=".ui.reader.ReaderPostListActivity"
            android:label="@string/reader"
            android:theme="@style/WordPress.NoActionBar">
        </activity>
        <activity
            android:name=".ui.reader.ReaderPostPagerActivity"
            android:excludeFromRecents="true"
            android:label="@string/reader_title_deeplink"
            android:theme="@style/WordPress.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <data
                    android:host="wordpress.com"
                    android:pathPattern="/read/feeds/.*/posts/.*"
                    android:scheme="https" >
                </data>

                <data
                    android:host="wordpress.com"
                    android:pathPattern="/read/feeds/.*/posts/.*"
                    android:scheme="http" >
                </data>

                <data
                    android:host="wordpress.com"
                    android:pathPattern="/read/blogs/.*/posts/.*"
                    android:scheme="https" >
                </data>

                <data
                    android:host="wordpress.com"
                    android:pathPattern="/read/blogs/.*/posts/.*"
                    android:scheme="http" >
                </data>

                <data
                    android:host="*.wordpress.com"
                    android:pathPattern="/2.../../../.*"
                    android:scheme="https" >
                </data>

                <data
                    android:host="*.wordpress.com"
                    android:pathPattern="/2.../../../.*"
                    android:scheme="http" >
                </data>

                <data
                    android:host="*.wordpress.com"
                    android:pathPattern="/19../../../.*"
                    android:scheme="https" >
                </data>

                <data
                    android:host="*.wordpress.com"
                    android:pathPattern="/19../../../.*"
                    android:scheme="http" >
                </data>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.reader.ReaderCommentListActivity"
            android:label="@string/reader_title_comments"
            android:theme="@style/WordPress.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.reader.NoSiteToReblogActivity"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.AppLogViewerActivity"
            android:label="@string/reader_title_applog"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.reader.ReaderUserListActivity"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.reader.ReaderSubsActivity"
            android:label="@string/reader_title_subs"
            android:theme="@style/WordPress.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.reader.ReaderPhotoViewerActivity"
            android:theme="@style/ReaderMediaViewerTheme" />
        <activity
            android:name=".ui.reader.ReaderVideoViewerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ReaderMediaViewerTheme" />

        <!-- Other activities -->
        <activity
            android:name=".ui.publicize.PublicizeListActivity"
            android:label="@string/sharing"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar"/>

        <activity
            android:name=".ui.ShareIntentReceiverActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AddQuickPressShortcutActivity"
            android:label="@string/quickpress_shortcut_activity_label"
            android:theme="@style/WordPress.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.SitePickerActivity"
            android:label="@string/site_picker_title"
            android:theme="@style/WordPress.NoActionBar" />

        <activity
            android:name=".ui.photopicker.PhotoPickerActivity"
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.stockmedia.StockMediaPickerActivity"
            android:label=""
            android:theme="@style/WordPress.NoActionBar" />
        <activity
            android:name=".ui.gif.GifPickerActivity"
            android:theme="@style/WordPress.NoActionBar" />

        <!-- Notifications activities -->
        <activity
            android:name=".ui.notifications.NotificationsDetailActivity"
            android:theme="@style/WordPress.NoActionBar" />

        <!--People Management-->
        <activity
            android:name=".ui.people.PeopleManagementActivity"
            android:label="@string/people"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar"/>

        <!--Plugins-->
        <activity
            android:name=".ui.plugins.PluginDetailActivity"
            android:theme="@style/WordPress.NoActionBar"/>
        <activity
            android:name=".ui.plugins.PluginBrowserActivity"
            android:label="@string/plugins"
            android:launchMode="singleTop"
            android:theme="@style/WordPress.NoActionBar"/>

        <!--Activity log-->
        <activity
            android:name=".ui.activitylog.list.ActivityLogListActivity"
            android:label="@string/activity_log"
            android:theme="@style/WordPress.NoActionBar"/>
        <activity
            android:name=".ui.activitylog.detail.ActivityLogDetailActivity"
            android:label="@string/activity_log_event"
            android:theme="@style/WordPress.NoActionBar"/>

        <!--Domain Registration-->
        <activity
            android:name=".ui.domains.DomainRegistrationActivity"
            android:label="@string/register_domain"
            android:theme="@style/WordPress.NoActionBar"/>

        <!-- Me activities -->
        <activity
            android:name=".ui.prefs.MyProfileActivity"
            android:label="@string/my_profile"
            android:theme="@style/WordPress.NoActionBar" />

        <!-- Lib activities-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:label="@string/edit_photo_screen_title"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Services -->
        <service
            android:name=".ui.uploads.UploadService"
            android:label="Upload Service" />
        <service
            android:name=".ui.media.services.MediaDeleteService"
            android:label="Media Delete Service"
            android:exported="false"
            />

        <service
            android:name=".ui.reader.services.update.ReaderUpdateService"
            android:exported="false"
            android:label="Reader Update Service" />
        <service
            android:name=".ui.reader.services.update.ReaderUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="Reader Update JobService" />

        <service
            android:name=".ui.reader.services.post.ReaderPostService"
            android:exported="false"
            android:label="Reader Post Service" />
        <service
            android:name=".ui.reader.services.post.ReaderPostJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="Reader Post JobService" />

        <service
            android:name=".ui.reader.services.search.ReaderSearchService"
            android:exported="false"
            android:label="Reader Search Service" />
        <service
            android:name=".ui.reader.services.search.ReaderSearchJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="Reader Search Job Service" />

        <service
            android:name=".ui.reader.services.ReaderCommentService"
            android:exported="false"
            android:label="Reader Comment Service" />
        <service
            android:name=".ui.publicize.services.PublicizeUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:label="Publicize Update Service"
            android:exported="false" />

        <service
            android:name=".ui.suggestion.service.SuggestionService"
            android:exported="false"
            android:label="Suggestion Service" />
        <service
            android:name=".push.NotificationsProcessingService"
            android:exported="false"
            android:label="Notifications Quick Actions processing Service" />

        <service
            android:name=".ui.notifications.services.NotificationsUpdateService"
            android:exported="false"
            android:label="Notifications Update Service" />
        <service
            android:name=".ui.notifications.services.NotificationsUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="Notifications Update Job Service" />

        <service
            android:name=".util.analytics.service.InstallationReferrerService"
            android:exported="true"
            android:permission="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"
            android:label="Installation Referrer Service" />

        <service
            android:name=".util.analytics.service.InstallationReferrerJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="Installation Referrer Service" />

        <service
            android:name=".login.LoginWpcomService"
            android:exported="false"
            android:label="Login to WPCOM Service" />

        <service
            android:name=".ui.sitecreation.services.SiteCreationService"
            android:exported="false"
            android:label="Site Creation Service" />

        <!-- Samsung multiwindow support -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />
        <!-- Samsung multiwindow support -->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <receiver android:name=".ui.notifications.receivers.NotificationsPendingDraftsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.notifications.ShareAndDismissNotificationReceiver" />
        <receiver
            android:name=".ui.stats.refresh.lists.widget.views.StatsViewsWidget"
            android:label="@string/stats_widget_weekly_views_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_views_widget_info"/>
        </receiver>
        <receiver
            android:name=".ui.stats.refresh.lists.widget.alltime.StatsAllTimeWidget"
            android:label="@string/stats_widget_all_time_insights_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_all_time_widget_info"/>
        </receiver>
        <receiver
            android:name=".ui.stats.refresh.lists.widget.today.StatsTodayWidget"
            android:label="@string/stats_widget_today_insights_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_today_widget_info"/>
        </receiver>
        <receiver
            android:name=".ui.stats.refresh.lists.widget.minified.StatsMinifiedWidget"
            android:label="@string/stats_widget_minified_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_minified_widget_info"/>
        </receiver>

        <service
            android:name=".ui.stats.refresh.lists.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".ui.stats.refresh.lists.widget.views.StatsViewsWidgetConfigureActivity"
            android:label="@string/stats_widget_views_title"
            android:theme="@style/WordPress.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.stats.refresh.lists.widget.alltime.StatsAllTimeWidgetConfigureActivity"
            android:label="@string/stats_widget_all_time_title"
            android:theme="@style/WordPress.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.stats.refresh.lists.widget.today.StatsTodayWidgetConfigureActivity"
            android:label="@string/stats_insights_today_stats"
            android:theme="@style/WordPress.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.stats.refresh.lists.widget.minified.StatsMinifiedWidgetConfigureActivity"
            android:label="@string/stats_widget_minified_name"
            android:theme="@style/WordPress.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".util.analytics.receiver.InstallationReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.quickstart.QuickStartReminderReceiver" />
        <receiver android:name=".ui.posts.PublishNotificationReceiver" />


        <!-- Google Cloud Messaging receiver and services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".push.GCMRegistrationIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service
            android:name=".push.GCMMessageService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".push.InstanceIDService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Smart Lock for Passwords -->
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />

        <!-- Provider for exposing file URIs on Android 7+ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Remove the default WorkManagerInitializer so we can use our own -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

    </application>
</manifest>
