<?xml version="1.0" encoding="utf-8"?>
<!--
    Activities in this module are declared here and merged into the main app's manifest.
    The theme is provided by the main app at runtime.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.wordpress.android.posttypes.CptPostTypesActivity"
            android:exported="false" />
        <activity
            android:name="org.wordpress.android.posttypes.CptFlatPostListActivity"
            android:exported="false" />
    </application>
</manifest>
