orbs:
  # Using 1.0 of the Orbs means it will use the latest 1.0.x version from https://github.com/wordpress-mobile/circleci-orbs
  android: wordpress-mobile/android@1.0
  git: wordpress-mobile/git@1.0
  bundle-install: toshimaru/bundle-install@0.3.1
  slack: circleci/slack@3.4.2

parameters:
  translation_review_build:
    type: boolean
    default: false
  translation_review_lang_id:
    type: string
    default: all-lang
  generate_screenshots:
    type: boolean
    default: false
  release_build:
    type: boolean
    default: false
  # Display name of the app and should match the usual public facing name (e.g. WordPress, Jetpack)
  app_name:
    type: string
    default: "WordPress"
  # The key used to reference the app in the Fastfile
  product_key:
    type: string
    default: "wordpress"

commands:
  copy-gradle-properties:
    steps:
      - run:
          name: Setup gradle.properties
          command: cp gradle.properties-example gradle.properties
  update-gradle-memory:
      parameters:
        jvmargs:
          type: string
          default: "Xmx2048m"
      steps:
        - run:
            name: Update memory setting
            command: sed -i "s/org.gradle.jvmargs=.*/org.gradle.jvmargs=-<< parameters.jvmargs >> -XX:+HeapDumpOnOutOfMemoryError -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false /" gradle.properties
  checkout-submodules:
    steps:
      - run:
          name: Checkout submodules
          command: git submodule update --init --recursive --depth 1

version: 2.1
jobs:
  Installable Build:
    executor:
      name: android/default
      api-version: "29"
    steps:
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - bundle-install/bundle-install:
          cache_key_prefix: installable-build-v4
      - run:
          name: Copy Secrets
          command: FASTLANE_SKIP_UPDATE_CHECK=1 bundle exec fastlane run configure_apply
      - update-gradle-memory
      - android/restore-gradle-cache
      - run:
          name: Set version environment variable
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
              PR_NUMBER=$(basename $CIRCLE_PULL_REQUEST)
              PREFIX="pr-${PR_NUMBER}"
            else
              PREFIX="$CIRCLE_BRANCH"
            fi

            VERSION_NAME="${PREFIX}-build-${CIRCLE_BUILD_NUM}"
            echo "export VERSION_NAME=$VERSION_NAME" >> $BASH_ENV
      - run:
          name: Build WordPress APK
          command: ./gradlew --stacktrace assembleWordpressJalapenoDebug -PversionName="$VERSION_NAME"
      - run:
          name: Build Jetpack APK
          command: ./gradlew --stacktrace assembleJetpackJalapenoDebug -PversionName="$VERSION_NAME"
      - android/save-gradle-cache
      - run:
          name: Prepare APK
          command: |
            mkdir -p Artifacts
            mv WordPress/build/outputs/apk/wordpressJalapeno/debug/org.wordpress.android-wordpress-jalapeno-debug.apk "Artifacts/WordPress-${VERSION_NAME}.apk"
            mv WordPress/build/outputs/apk/jetpackJalapeno/debug/org.wordpress.android-jetpack-jalapeno-debug.apk "Artifacts/Jetpack-${VERSION_NAME}.apk"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts
  Release Build:
    executor:
      name: android/default
      api-version: "29"
    environment:
      JVM_OPTS: -Xmx2048m
    steps:
      - run:
          name: Init messages
          command: |
            echo "export SLACK_FAILURE_MESSAGE=':red_circle: Build for << pipeline.parameters.app_name >> Android failed!'" >> $BASH_ENV
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - bundle-install/bundle-install:
          cache_key_prefix: release-build-v2
      - run:
          name: Copy Secrets
          command: FASTLANE_SKIP_UPDATE_CHECK=1 bundle exec fastlane run configure_apply
      - update-gradle-memory
      - android/restore-gradle-cache
      - run:
          name: Prepare build
          command: |
            echo "export APP_VERSION=$(./gradlew -q printVersionName -PproductKey='<< pipeline.parameters.product_key >>' | tail -1)" >> $BASH_ENV
            SLACK_MESSAGE_VERSION=$(./gradlew -q printVersionName -PproductKey="<< pipeline.parameters.product_key >>" | tail -1)
            echo "export SLACK_FAILURE_MESSAGE=':red_circle: Build for << pipeline.parameters.app_name >> Android $SLACK_MESSAGE_VERSION failed!'" >> $BASH_ENV
            echo "export SLACK_SUCCESS_MESSAGE=':tada: << pipeline.parameters.app_name >> Android $SLACK_MESSAGE_VERSION has been deployed!'" >> $BASH_ENV
            # Prevent fastlane from checking for updates, also removing the verbose fastlane changelog at the end of each invocation.
            echo "export FASTLANE_SKIP_UPDATE_CHECK=1" >> $BASH_ENV
            bundle check
      - run:
          name: Build Zalpha
          command: |
            if [[ ${APP_VERSION} == *"-rc-"* ]]; then
              bundle exec fastlane build_alpha app:"<< pipeline.parameters.product_key >>" skip_confirm:true skip_prechecks:true create_release:true upload_to_play_store:true
            fi
          no_output_timeout: 15m
      - run:
          name: Build Vanilla
          command: |
            if [[ ${APP_VERSION} == *"-rc-"* ]]; then
              bundle exec fastlane build_beta app:"<< pipeline.parameters.product_key >>" skip_confirm:true skip_prechecks:true create_release:true upload_to_play_store:true
            else
              bundle exec fastlane build_and_upload_release app:"<< pipeline.parameters.product_key >>" skip_confirm:true skip_prechecks:true create_release:true upload_to_play_store:true
            fi
          no_output_timeout: 15m
      - android/save-gradle-cache
      - store_artifacts:
          path: build
          destination: Artifacts
      - slack/status:
          include_job_number_field: false
          include_project_field: false
          include_visit_job_action: false
          webhook: '${SLACK_BUILD_WEBHOOK}'
          failure_message: '${SLACK_FAILURE_MESSAGE}'
          success_message: '${SLACK_SUCCESS_MESSAGE}'

  Connected Tests:
    parameters:
      post-to-slack:
        description: Post to Slack when tests fail. SLACK_WEBHOOK ENV variable must be set.
        type: boolean
        default: false
    executor:
      name: android/default
      api-version: "29"
    steps:
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - android/restore-gradle-cache
      - copy-gradle-properties
      - update-gradle-memory:
          jvmargs: "Xmx1536m"
      - run:
          name: Build
          command: ./gradlew WordPress:assembleWordPressVanillaDebug --stacktrace
      - run:
          name: Build Tests
          command: ./gradlew WordPress:assembleWordPressVanillaDebugAndroidTest --stacktrace
      - run:
          name: Decrypt credentials
          command: openssl aes-256-cbc -md sha256 -d -in .circleci/.firebase.secrets.json.enc -out .circleci/.firebase.secrets.json -k "${FIREBASE_SECRETS_ENCRYPTION_KEY}"
      - android/firebase-test:
          key-file: .circleci/.firebase.secrets.json
          type: instrumentation
          apk-path: WordPress/build/outputs/apk/wordpressVanilla/debug/org.wordpress.android-wordpress-vanilla-debug.apk
          test-apk-path: WordPress/build/outputs/apk/androidTest/wordpressVanilla/debug/org.wordpress.android-wordpress-vanilla-debug-androidTest.apk
          test-targets: notPackage org.wordpress.android.ui.screenshots
          device: model=Pixel2,version=28,locale=en,orientation=portrait
          project: api-project-108380595987
          timeout: 10m
          num-flaky-test-attempts: 2
          results-history-name: CircleCI WordPress Connected Tests
      - android/save-gradle-cache
      - when:
          condition: << parameters.post-to-slack >>
          steps:
            - slack/status:
                fail_only: true
                include_job_number_field: false
                include_project_field: false
                failure_message: ':red_circle: WordPress Android connected tests failed on \`${CIRCLE_BRANCH}\` branch after merge by ${CIRCLE_USERNAME}. See <https://console.firebase.google.com/u/0/project/api-project-108380595987/testlab/histories/bh.e0c3a59bd9ed670|Firebase console test results> for details.\n\nPlease reach out in #platform9 if you think this failure is not caused by your changes, so we can investigate.'
  raw-screenshots:
    executor:
      name: android/default
      api-version: "29"
    working_directory: /tmp/workspace
    steps:
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - bundle-install/bundle-install:
          cache_key_prefix: raw-screenshots-v2
      - android/restore-gradle-cache
      - copy-gradle-properties
      - update-gradle-memory:
          jvmargs: "Xmx1024m"
      - run:
          name: Build
          command: ./gradlew WordPress:assembleWordPressVanillaDebug --stacktrace
      - run:
          name: Build Tests
          command: ./gradlew WordPress:assembleWordPressVanillaDebugAndroidTest --stacktrace
      - run:
          name: Decrypt credentials
          command: openssl aes-256-cbc -md sha256 -d -in .circleci/.firebase.secrets.json.enc -out .circleci/.firebase.secrets.json -k "${FIREBASE_SECRETS_ENCRYPTION_KEY}"
      - android/firebase-test:
          key-file: .circleci/.firebase.secrets.json
          type: instrumentation
          apk-path: WordPress/build/outputs/apk/wordpressVanilla/debug/org.wordpress.android-wordpress-vanilla-debug.apk
          test-apk-path: WordPress/build/outputs/apk/androidTest/wordpressVanilla/debug/org.wordpress.android-wordpress-vanilla-debug-androidTest.apk
          test-targets: package org.wordpress.android.ui.screenshots
          # NOTE: When updating this list of devices, ensure to also update the `phone:` and `tenInch:` parameters in "Download Raw Screenshots from Google Storage"
          devices: |
            model=blueline,version=28,orientation=portrait
            model=gts3lltevzw,version=28,orientation=default
          # NOTE: When updating this list of locales, ensure to also update the `promo_config:` keys accordingly in the `SUPPORTED_LOCALES` in `fastlane/Fastfile`
          # locales: ar de_DE en_US es_ES fr_FR iw_IL in it_IT ja_JP ko_KR nl_NL pl_PL pt_BR ru_RU sr sv_SE th tr_TR vi zh_CN zh_TW
          locales: ar de_DE en_US es_ES fr_FR iw_IL in it_IT ja_JP ko_KR nl_NL pl_PL pt_BR ru_RU sr sv_SE th tr_TR vi zh_CN zh_TW
          project: api-project-108380595987
          timeout: 30m
          num-flaky-test-attempts: 2
          results-history-name: CircleCI WordPress Screenshots
      - android/save-gradle-cache
      - run:
          name: Download Raw Screenshots from Google Storage
          command: |
            TEST_BUCKET=$(cat log.txt | grep -o "gs://test\-lab\-.*/" | head -1)
            export FASTLANE_SKIP_UPDATE_CHECK=1
            bundle exec fastlane download_raw_screenshots bucket:"$TEST_BUCKET" phone:blueline-28 tenInch:gts3lltevzw-28
      - persist_to_workspace:
          root: .
          paths:
            - Gemfile
            - Gemfile.lock
            - fastlane/
  promo-screenshots:
    parameters:
      post-to-slack:
        description: Post to Slack when screenshots job has finished. SLACK_WEBHOOK ENV variable must be set.
        type: boolean
        default: true
    macos:
      xcode: 11.6.0
    working_directory: /tmp/workspace
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          # ImageMagick is used by the 'rmagick' gem, so cache invalidation of ImageMagick should depend on version of rmagick from Gemfile.lock
          keys:
            - &homebrew-cache-key v2-brew-imagemagick-{{ checksum "Gemfile.lock" }}
      - run:
          name: Brew Install ImageMagick
          command: |
            brew install pkg-config imagemagick
            brew cleanup
      - save_cache:
          paths:
            - ~/Library/Caches/Homebrew
          key: *homebrew-cache-key
      - run:
          name: Bundle install with rmagick
          command: |
            # Activate 'screenshots' in bundle config options (remove it from 'without' in case it's set here)
            bundle config --local --delete without
            bundle config --local with screenshots
            bundle install --path vendor/bundle
      - run:
          name: Download Promo Strings
          command: FASTLANE_SKIP_UPDATE_CHECK=1 bundle exec fastlane download_promo_strings
      - run:
          name: Create Promo Screenshots
          command: FASTLANE_SKIP_UPDATE_CHECK=1 bundle exec fastlane android create_promo_screenshots force:true
      - run:
          name: ZIP Metadata
          command: cd fastlane/metadata; zip -r Android-Promo-Screenshots.zip android
      - store_artifacts:
          path: fastlane/metadata/Android-Promo-Screenshots.zip
      - when:
          condition: << parameters.post-to-slack >>
          steps:
            - slack/status:
                include_job_number_field: false
                include_project_field: false
                webhook: '${SLACK_BUILD_WEBHOOK}'
                # [Trial] Validate URLs (and IDs used within those) in both those messages and adapt to the ones for a8c instances once we integrate the PR from fork to main repo
                failure_message: ':red_circle: WordPress Android Screenshots failed on \`${CIRCLE_BRANCH}\` branch. See <https://console.firebase.google.com/u/0/project/api-project-108380595987/testlab/histories/bh.e0c3a59bd9ed670|Firebase console test results> for details.\n\nPlease reach out in #platform9 if you think this failure is not caused by your changes, so we can investigate.'
                success_message: ':tada: WordPress Android Promo Screenshots have been generated and are ready to be reviewed. Download them <https://${CIRCLE_BUILD_NUM}-9306568-gh.circle-artifacts.com/0/fastlane/metadata/Android-Promo-Screenshots.zip|here>'
  WordPressUtils Connected Tests:
    executor:
      name: android/default
      api-version: "29"
    steps:
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - android/restore-gradle-cache
      - copy-gradle-properties
      - update-gradle-memory
      - run:
          name: Build
          command: ./gradlew WordPress:assembleWordPressVanillaDebug && cd libs/utils && ./gradlew assembleAndroidTest --stacktrace
      - run:
          name: Decrypt credentials
          command: openssl aes-256-cbc -md sha256 -d -in .circleci/.firebase.secrets.json.enc -out .circleci/.firebase.secrets.json -k "${FIREBASE_SECRETS_ENCRYPTION_KEY}"
      - android/firebase-test:
          key-file: .circleci/.firebase.secrets.json
          type: instrumentation
          apk-path: WordPress/build/outputs/apk/wordpressVanilla/debug/org.wordpress.android-wordpress-vanilla-debug.apk
          test-apk-path: libs/utils/WordPressUtils/build/outputs/apk/androidTest/debug/WordPressUtils-debug-androidTest.apk
          device: model=Pixel2,version=28,locale=en,orientation=portrait
          project: api-project-108380595987
          timeout: 10m
          results-history-name: CircleCI WPUtils Connected Tests
      - android/save-gradle-cache
  submodules-strings-check:
    docker:
      - image: circleci/ruby:2.6.4
    steps:
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - run:
          name: Install bundler
          command: gem install bundler --version 2.0.2
      - bundle-install/bundle-install:
          cache_key_prefix: strings-check-v2
      - run:
          name: Validate login strings
          command: FASTLANE_SKIP_UPDATE_CHECK=1 bundle exec fastlane validate_submodules_strings pr_url:$CIRCLE_PULL_REQUEST
  translation-review-build:
    executor:
      name: android/default
      api-version: "29"
    environment:
      APP_VERSION_PREFIX: << pipeline.parameters.translation_review_lang_id >>
    steps:
      - git/shallow-checkout:
          init-submodules: true
      - checkout-submodules
      - bundle-install/bundle-install:
          cache_key_prefix: translation-review-build-v2
      - run:
          name: Copy Secrets
          command: FASTLANE_SKIP_UPDATE_CHECK=1 bundle exec fastlane run configure_apply
      - update-gradle-memory
      - android/restore-gradle-cache
      - run:
          name: Build APK
          command: |
            TODAY_DATE=$(date +'%Y%m%d')
            VERSION_NAME="${APP_VERSION_PREFIX}-build-${TODAY_DATE}-${CIRCLE_BUILD_NUM}"
            echo "export VERSION_NAME=$VERSION_NAME" >> $BASH_ENV
            echo "export FASTLANE_SKIP_UPDATE_CHECK=1" >> $BASH_ENV

            cp ~/.configure/wordpress-android/secrets/debug_a8c.keystore ~/.android/debug.keystore
            bundle exec fastlane build_for_translation_review custom_version:"$VERSION_NAME"
      - android/save-gradle-cache
      - run:
          name: Prepare APK
          command: |
            mkdir -p Artifacts
            mv WordPress/build/outputs/apk/wordpressJalapeno/release/org.wordpress.android-wordpress-jalapeno-release.apk "Artifacts/WordPress-${VERSION_NAME}.apk"
      - run:
          name: Upload APK
          command: |
            curl --http1.1 https://${APPET_TOKEN}@api.appetize.io/v1/apps/${APPET_APPID} -F "file=@Artifacts/WordPress-${VERSION_NAME}.apk" -F "platform=android"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts

workflows:
  wordpress_android:
    unless:
      or:
        - << pipeline.parameters.translation_review_build >>
        - << pipeline.parameters.generate_screenshots >>
        - << pipeline.parameters.release_build >>
    jobs:
      - submodules-strings-check
      - Installable Build:
          filters:
            branches:
              ignore: /pull\/[0-9]+/
      - Connected Tests:
          post-to-slack: true
          # Always run connected tests on develop and release branches
          filters:
            branches:
              only:
                - develop
                - /^release.*/
  Optional Tests:
    unless:
      or:
        - << pipeline.parameters.translation_review_build >>
        - << pipeline.parameters.generate_screenshots >>
        - << pipeline.parameters.release_build >>
    #Optionally run connected tests on PRs
    jobs:
      - Hold:
          type: approval
          filters:
            branches:
              ignore:
                - develop
                - /^release.*/
                - /pull\/[0-9]+/
      - Connected Tests:
          requires: [Hold]
  Translation Review Build:
    when: << pipeline.parameters.translation_review_build >>
    jobs:
      - translation-review-build
  Screenshots:
    when: << pipeline.parameters.generate_screenshots >>
    jobs:
      - raw-screenshots
      - promo-screenshots:
          requires: [raw-screenshots]
  Release Build:
    when: << pipeline.parameters.release_build >>
    jobs:
      - Release Build

