orbs:
  # Using 1.0 of the Orbs means it will use the latest 1.0.x version from https://github.com/wordpress-mobile/circleci-orbs
  android: wordpress-mobile/android@1.0
  git: wordpress-mobile/git@1.0
  bundle-install: toshimaru/bundle-install@0.3.1
  slack: circleci/slack@3.4.2

commands:
  copy-gradle-properties:
    steps:
      - run:
          name: Setup gradle.properties
          command: cp gradle.properties-example gradle.properties
  yarn-install:
    steps:
      - restore_cache:
          name: Restore Yarn Cache
          keys:
            - yarn-i18n-v4-cache-v{{ .Environment.CACHE_TRIGGER_VERSION }}-job-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}
      - run:
          name: Yarn Install
          working_directory: libs/gutenberg-mobile
          command: yarn install --frozen-lockfile --prefer-offline --network-concurrency 1
      - save_cache:
          name: Save Yarn Cache
          key: yarn-i18n-v4-cache-v{{ .Environment.CACHE_TRIGGER_VERSION }}-job-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - i18n-cache/data
  checkout-submodules:
    steps:
      - run:
          name: Checkout submodules
          command: git submodule update --init --recursive
  yarn-bundle-android:
    steps:
      - run:
          name: Yarn bundle Android
          working_directory: libs/gutenberg-mobile
          command: yarn bundle:android

version: 2.1
jobs:
  gutenberg-bundle-build:
    docker:
      - image: circleci/node:10
    steps:
      - git/shallow-checkout
      - checkout-submodules
      - yarn-install
      - yarn-bundle-android
      - run:
          name: Rename the JS bundle
          working_directory: libs/gutenberg-mobile
          command: mv App.js index.android.bundle
      - persist_to_workspace:
          root: bundle/android
          paths:
            - index.android.bundle
  test:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - git/shallow-checkout
      - run:
          name: Checkout git submodules
          command: git submodule update --init --recursive
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Test WordPress
          command: ./gradlew --stacktrace testVanillaRelease
      - run:
          name: Test WordPressUtils
          command: cd libs/utils && ./gradlew --stacktrace testReleaseUnitTest
      - android/save-gradle-cache
      - android/save-test-results
  lint:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - git/shallow-checkout
      - run:
          name: Checkout git submodules
          command: git submodule update --init --recursive
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Checkstyle
          command: ./gradlew --stacktrace checkstyle
      - run:
          name: ktlint
          command: ./gradlew --stacktrace ciktlint
      - run:
          name: Lint
          command: ./gradlew --stacktrace lintVanillaRelease || (grep -A20 -B2 'severity="Error"' -r --include="*.xml" WordPress libs; exit 1)
      - run:
          name: Violations
          when: on_fail
          command: |
            if [ -n "$GITHUB_API_TOKEN" ]; then
              ./gradlew --stacktrace violationCommentsToGitHub -DGITHUB_PULLREQUESTID=${CIRCLE_PULL_REQUEST##*/} -DGITHUB_OAUTH2TOKEN=$GITHUB_API_TOKEN
            else
              echo "Not posting lint errors to Github because \$GITHUB_API_TOKEN is not found"
            fi 
      - android/save-gradle-cache
      - android/save-lint-results
  Installable Build:
    executor:
      name: android/default
      api-version: "28"
    steps:
      - git/shallow-checkout
      - run:
          name: Checkout git submodules
          command: git submodule update --init --recursive
      - bundle-install/bundle-install:
          cache_key_prefix: installable-build
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      - android/restore-gradle-cache
      - run:
          name: Ensure assets folder exists
          command: mkdir libs/gutenberg-mobile/react-native-gutenberg-bridge/android/src/main/assets
      - attach_workspace:
          at: libs/gutenberg-mobile/react-native-gutenberg-bridge/android/src/main/assets
      - run:
          name: Build APK
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
              PR_NUMBER=$(basename $CIRCLE_PULL_REQUEST)
              PREFIX="pr-${PR_NUMBER}"
            else
              PREFIX="$CIRCLE_BRANCH"
            fi

            VERSION_NAME="${PREFIX}-build-${CIRCLE_BUILD_NUM}"
            echo "export VERSION_NAME=$VERSION_NAME" >> $BASH_ENV

            ./gradlew --stacktrace assembleJalapenoDebug -PversionName="$VERSION_NAME"
      - android/save-gradle-cache
      - run:
          name: Prepare APK
          command: |
            mkdir -p Artifacts
            mv WordPress/build/outputs/apk/jalapeno/debug/org.wordpress.android-jalapeno-debug.apk "Artifacts/WordPress-${VERSION_NAME}.apk"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts
  Connected Tests:
    parameters:
      post-to-slack:
        description: Post to Slack when tests fail. SLACK_WEBHOOK ENV variable must be set.
        type: boolean
        default: false
    executor:
      name: android/default
      api-version: "28"
    steps:
      - git/shallow-checkout
      - run:
          name: Checkout git submodules
          command: git submodule update --init --recursive
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Build
          command: ./gradlew WordPress:assembleVanillaDebug WordPress:assembleVanillaDebugAndroidTest --stacktrace
      - run:
          name: Decrypt credentials
          command: openssl aes-256-cbc -md sha256 -d -in .circleci/.firebase.secrets.json.enc -out .circleci/.firebase.secrets.json -k "${FIREBASE_SECRETS_ENCRYPTION_KEY}"
      - android/firebase-test:
          key-file: .circleci/.firebase.secrets.json
          type: instrumentation
          apk-path: WordPress/build/outputs/apk/vanilla/debug/org.wordpress.android-vanilla-debug.apk
          test-apk-path: WordPress/build/outputs/apk/androidTest/vanilla/debug/org.wordpress.android-vanilla-debug-androidTest.apk
          test-targets: notPackage org.wordpress.android.ui.screenshots
          device: model=Nexus5X,version=26,locale=en,orientation=portrait
          project: api-project-108380595987
          timeout: 10m
          num-flaky-test-attempts: 2
          results-history-name: CircleCI WordPress Connected Tests
      - android/save-gradle-cache
      - when:
          condition: << parameters.post-to-slack >>
          steps:
            - slack/status:
                fail_only: true
                include_job_number_field: false
                include_project_field: false
                failure_message: ':red_circle: WordPress Android connected tests failed on \`${CIRCLE_BRANCH}\` branch after merge by ${CIRCLE_USERNAME}. See <https://console.firebase.google.com/u/0/project/api-project-108380595987/testlab/histories/bh.e0c3a59bd9ed670|Firebase console test results> for details.\n\nPlease reach out in #platform9 if you think this failure is not caused by your changes, so we can investigate.'
  WordPressUtils Connected Tests:
    executor:
      name: android/default
      api-version: "28"
    steps:
      - git/shallow-checkout
      - run:
          name: Checkout git submodules
          command: git submodule update --init --recursive
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Build
          command: ./gradlew WordPress:assembleVanillaDebug && cd libs/utils && ./gradlew assembleAndroidTest --stacktrace
      - run:
          name: Decrypt credentials
          command: openssl aes-256-cbc -md sha256 -d -in .circleci/.firebase.secrets.json.enc -out .circleci/.firebase.secrets.json -k "${FIREBASE_SECRETS_ENCRYPTION_KEY}"
      - android/firebase-test:
          key-file: .circleci/.firebase.secrets.json
          type: instrumentation
          apk-path: WordPress/build/outputs/apk/vanilla/debug/org.wordpress.android-vanilla-debug.apk
          test-apk-path: libs/utils/WordPressUtils/build/outputs/apk/androidTest/debug/WordPressUtils-debug-androidTest.apk
          device: model=Nexus5X,version=26,locale=en,orientation=portrait
          project: api-project-108380595987
          timeout: 10m
          results-history-name: CircleCI WPUtils Connected Tests
      - android/save-gradle-cache
  strings-check:
    docker:
      - image: circleci/ruby:2.6.4
    steps:
      - git/shallow-checkout
      - run:
          name: Checkout git submodules
          command: git submodule update --init --recursive
      - run:
          name: Install bundler
          command: gem install bundler --version 2.0.2 
      - bundle-install/bundle-install:
          cache_key_prefix: strings-check
      - run:
          name: Validate login strings
          command: bundle exec fastlane validate_login_strings pr_url:$CIRCLE_PULL_REQUEST

workflows:
  wordpress_android:
    jobs:
      - gutenberg-bundle-build
      - strings-check
      - test
      - lint
      - Installable Build:
          requires:
            - gutenberg-bundle-build
          filters:
            branches:
              ignore: /pull\/[0-9]+/
      - WordPressUtils Connected Tests:
          filters:
            branches:
              ignore: /pull\/[0-9]+/
      - Connected Tests:
          post-to-slack: false
          # Always run connected tests on develop and release branches
          filters:
            branches:
              only:
                - develop
                - /^release.*/
  Optional Tests:
    #Optionally run connected tests on PRs
    jobs:
      - Hold:
          type: approval
          filters:
            branches:
              ignore:
                - develop
                - /^release.*/
                - /pull\/[0-9]+/
      - Connected Tests:
          requires: [Hold]
