orbs:
  android: wordpress-mobile/android@0.0.22
  bundle-install: toshimaru/bundle-install@0.1.1

commands:
  copy-gradle-properties:
    steps:
      - run:
          name: Setup gradle.properties
          command: cp gradle.properties-example gradle.properties

version: 2.1
jobs:
  test:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - checkout
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Test
          command: ./gradlew --stacktrace testVanillaRelease
      - android/save-gradle-cache
      - android/save-test-results
  lint:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - checkout
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Checkstyle
          command: ./gradlew --stacktrace checkstyle
      - run:
          name: ktlint
          command: ./gradlew --stacktrace ciktlint
      - run:
          name: Lint
          command: ./gradlew --stacktrace lintVanillaRelease || (grep -A20 -B2 'severity="Error"' -r --include="*.xml" WordPress libs; exit 1)
      - run:
          name: Violations
          when: on_fail
          command: |
            if [ -n "$GITHUB_API_TOKEN" ]; then
              ./gradlew --stacktrace violationCommentsToGitHub -DGITHUB_PULLREQUESTID=${CIRCLE_PULL_REQUEST##*/} -DGITHUB_OAUTH2TOKEN=$GITHUB_API_TOKEN
            else
              echo "Not posting lint errors to Github because \$GITHUB_API_TOKEN is not found"
            fi 
      - android/save-gradle-cache
      - android/save-lint-results
  strings-check:
    docker:
      - image: circleci/ruby:2.3
    steps:
      - checkout
      - bundle-install/bundle-install
      - run:
          name: Validate login strings
          command: bundle exec fastlane validate_login_strings pr_url:$CIRCLE_PULL_REQUEST

workflows:
  wordpress_android:
    jobs:
      - strings-check
      - test
      - lint
