orbs:
  android: wordpress-mobile/android@0.0.27
  bundle-install: toshimaru/bundle-install@0.1.1
  slack: circleci/slack@2.5.0

commands:
  copy-gradle-properties:
    steps:
      - run:
          name: Setup gradle.properties
          command: cp gradle.properties-example gradle.properties

version: 2.1
jobs:
  test:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - checkout
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Test
          command: ./gradlew --stacktrace testVanillaRelease
      - android/save-gradle-cache
      - android/save-test-results
  lint:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - checkout
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Checkstyle
          command: ./gradlew --stacktrace checkstyle
      - run:
          name: ktlint
          command: ./gradlew --stacktrace ciktlint
      - run:
          name: Lint
          command: ./gradlew --stacktrace lintVanillaRelease || (grep -A20 -B2 'severity="Error"' -r --include="*.xml" WordPress libs; exit 1)
      - run:
          name: Violations
          when: on_fail
          command: |
            if [ -n "$GITHUB_API_TOKEN" ]; then
              ./gradlew --stacktrace violationCommentsToGitHub -DGITHUB_PULLREQUESTID=${CIRCLE_PULL_REQUEST##*/} -DGITHUB_OAUTH2TOKEN=$GITHUB_API_TOKEN
            else
              echo "Not posting lint errors to Github because \$GITHUB_API_TOKEN is not found"
            fi 
      - android/save-gradle-cache
      - android/save-lint-results
  Installable Build:
    executor: 
      name: android/default
      api-version: "28"
    steps:
      - checkout
      - bundle-install/bundle-install
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      - android/restore-gradle-cache
      - run:
          name: Build APK
          command: |
            PR_NUMBER=$(basename $CIRCLE_PULL_REQUEST)
            VERSION_NAME="pr-${PR_NUMBER}-build-${CIRCLE_BUILD_NUM}"
            echo "export VERSION_NAME=$VERSION_NAME" >> $BASH_ENV

            ./gradlew --stacktrace assembleVanillaRelease -PversionName="$VERSION_NAME"
      - run:
          name: Prepare APK
          command: |
            mkdir -p Artifacts
            mv WordPress/build/outputs/apk/vanilla/release/WordPress-vanilla-release.apk "Artifacts/WordPress-${VERSION_NAME}.apk"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts
  connected-tests:
    executor:
      name: android/default
      api-version: "28"
    steps:
      - checkout
      - android/restore-gradle-cache
      - copy-gradle-properties
      - run:
          name: Build
          command: ./gradlew WordPress:assembleVanillaDebug WordPress:assembleVanillaDebugAndroidTest --stacktrace
      - run:
          name: Decrypt credentials
          command: openssl aes-256-cbc -md sha256 -d -in .circleci/.firebase.secrets.json.enc -out .circleci/.firebase.secrets.json -k "${FIREBASE_SECRETS_ENCRYPTION_KEY}"
      - android/firebase-test:
          key-file: .circleci/.firebase.secrets.json
          type: instrumentation
          apk-path: WordPress/build/outputs/apk/vanilla/debug/WordPress-vanilla-debug.apk
          test-apk-path: WordPress/build/outputs/apk/androidTest/vanilla/debug/WordPress-vanilla-debug-androidTest.apk
          test-targets: notPackage org.wordpress.android.ui.screenshots
          device: model=Nexus5X,version=26,locale=en,orientation=portrait
          project: api-project-108380595987
          timeout: 10m
          results-history-name: CircleCI WordPress Connected Tests
      - android/save-gradle-cache
      - slack/status:
          fail_only: 'true'
          failure_message: ':red_circle: WordPress Android end to end tests have failed!\nSee https://console.firebase.google.com/u/0/project/api-project-108380595987/testlab/histories/bh.e0c3a59bd9ed670'
  strings-check:
    docker:
      - image: circleci/ruby:2.3
    steps:
      - checkout
      - bundle-install/bundle-install
      - run:
          name: Validate login strings
          command: bundle exec fastlane validate_login_strings pr_url:$CIRCLE_PULL_REQUEST

workflows:
  wordpress_android:
    jobs:
      - strings-check
      - test
      - lint
      - Installable Build
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - connected-tests
