<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Deep Linking Activity -->
        <activity android:name="org.wordpress.android.ui.deeplinks.DeepLinkingIntentReceiverActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apps.wordpress.com"
                    android:pathPattern="/get/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>
