<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="org.wordpress.android.permission.DISABLE_NOTIFICATIONS"/>
    <uses-permission android:name="org.wordpress.android.beta.permission.DISABLE_NOTIFICATIONS"/>
    <uses-permission android:name="org.wordpress.android.prealpha.permission.DISABLE_NOTIFICATIONS"/>

    <application>
        <!-- Deep Linking Activity -->
        <activity android:name="org.wordpress.android.ui.deeplinks.DeepLinkingIntentReceiverActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apps.wordpress.com"
                    android:pathPattern="/get/.*"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="viewpost"
                    android:scheme="jetpack" />
                <data
                    android:host="stats"
                    android:scheme="jetpack" />
                <data
                    android:host="read"
                    android:scheme="jetpack" />
                <data
                    android:host="post"
                    android:scheme="jetpack" />
                <data
                    android:host="notifications"
                    android:scheme="jetpack" />
                <data
                    android:host="home"
                    android:scheme="jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.stats.refresh.lists.widget.weeks.StatsWeekWidgetConfigureActivity"
            android:label="@string/stats_widget_views_title"
            android:theme="@style/WordPress.NoActionBar"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="org.wordpress.android.ui.stats.refresh.lists.widget.weeks.StatsWeekWidget"
            android:label="@string/stats_widget_weekly_views_name"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ManifestResource">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_week_views_widget_info"/>
        </receiver>

        <!-- Black launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityBlack"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_black"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- White on Black launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityWhiteOnBlack"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_white_on_black"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- White on Green launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityWhiteOnGreen"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_white_on_green"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- Celadon launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityCeladon"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_celadon"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- Green launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityGreen"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_green"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- Pink Blue launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityPinkBlue"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_pink_blue"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- Pride launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityPride"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_pride"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- Neu Dark launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityNeuDark"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_neu_dark"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!-- Neu Light launcher -->
        <activity-alias
            android:name=".launch.WPLaunchActivityNeuLight"
            android:targetActivity=".ui.WPLaunchActivity"
            android:icon="@mipmap/app_icon_neu_light"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung multiwindow support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
    </application>

</manifest>
