-dontobfuscate

###### OkHttp - begin
-dontwarn okio.**
-dontwarn okhttp3.**
-keep class okhttp3.** { *; }
-keep interface okhttp3.** { *; }
-dontwarn com.squareup.okhttp.**
-keep class com.squareup.okhttp.** { *; }
-keep interface com.squareup.okhttp.** { *; }

-keepattributes Signature
-keepattributes *Annotation*
###### OkHttp - end

###### Event Bus 3
-keepattributes *Annotation*
-keepclassmembers class ** {
    @org.greenrobot.eventbus.Subscribe <methods>;
}
-keep enum org.greenrobot.eventbus.ThreadMode { *; }

# Only required if you use AsyncExecutor
-keepclassmembers class * extends org.greenrobot.eventbus.util.ThrowableFailureEvent {
    <init>(java.lang.Throwable);
}
###### Event Bus 3 - end

###### Event Bus 2 - begin
-keepclassmembers class ** {
    public void onEvent*(**);
}

# Only required if you use AsyncExecutor
-keepclassmembers class * extends de.greenrobot.event.util.ThrowableFailureEvent {
    ** *(java.lang.Throwable);
}
###### Event Bus 2 - end

###### ucrop - begin
-dontwarn com.yalantis.ucrop**
-keep class com.yalantis.ucrop** { *; }
-keep interface com.yalantis.ucrop** { *; }
###### ucrop - end

###### FluxC (was needed for Json deserializers) - begin
-keep class org.wordpress.android.fluxc** { *; }
###### FluxC - end

###### Dagger - begin
-dontwarn com.google.errorprone.annotations.*
###### Dagger - end

###### Zendesk - begin
-keep class com.zendesk.** { *; }
-keep class zendesk.** { *; }
-keep class javax.inject.Provider
-keep class com.squareup.picasso.** { *; }
-keep class com.jakewharton.disklrucache.** { *; }
-keep class com.google.gson.** { *; }
-keep class okio.** { *; }
-keep class retrofit2.** { *; }
-keep class uk.co.senab.photoview.** { *; }
###### Zendesk - end

###### React Native - begin

# XXX: not sure why it needs the aztec related dontwarn but, release build breaks without it
-dontwarn org.wordpress.aztec.glideloader.**

-dontwarn com.github.godness84.RNRecyclerViewList.**

-keep class com.facebook.hermes.unicode.** { *; }
###### React Native - end

###### Main resource class - begin
-keepattributes InnerClasses

-keep class org.wordpress.android.R
-keep class org.wordpress.android.R$* {
    <fields>;
}
###### Main resource class - end
