<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.wordpress.android">

    <application
        tools:replace="android:name,android:supportsRtl"
        android:name=".WordPressDebug"
        android:supportsRtl="true">

        <!-- Temporarily adding these activities here, so we are able to launch them from adb -->
        <activity
            android:name=".ui.accounts.LoginEpilogueActivity"
            android:label="@string/login_epilogue_screen_title"
            android:theme="@style/LoginTheme"
            android:exported="true" />

        <activity
            android:name=".ui.accounts.SignupEpilogueActivity"
            android:label="@string/signup_epilogue_screen_title"
            android:theme="@style/LoginTheme"
            android:exported="true" />
    </application>

    <!--
        The below permissions are required by Fastlane for taking screenshots.
        They should never be included in release builds
     -->
    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Allows changing locales for screenshot automation -->
    <uses-permission
        tools:ignore="ProtectedPermissions"
        android:name="android.permission.CHANGE_CONFIGURATION"
        />
</manifest>
