#!/bin/sh

# Screenshot tool configuration file
# In order to use the tool, copy this example to screenshots-config.sh
# and fill the TOKEN_DEEPLINK field.

# Auth token (required)
TOKEN_DEEPLINK=

# Uncomment the following APK key in order to override the default used apk
# APK=../WordPress/build/outputs/apk/WordPress-wasabi-debug.apk

# Uncomment the following PKG key in order to override the default used package config
# Valid options are $PKG_DEBUG and $PKG_RELEASE
# PKG=$PKG_DEBUG

# Uncomment the following AVD key in order to override the default emulator
#AVD=Nexus_5X_API_25_SCREENSHOTS

# Uncomment the following RUN_DEV key in order to override the default device
#RUN_DEV=All
